{% extends "base.html.j2" %}

{% block content %}
<div class="bg-body-tertiary min-vh-100 d-flex flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="clearfix">
          <h1 class="float-start display-3 me-4">403</h1>
          <h4 class="pt-3">{{ description }}</h4>
          <p class="text-body-secondary">It looks like you found a glitch in the matrix...</p>
          <a href="/">&larr; Back to Dashboard</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}