{% extends "base2.html.j2" %}

{% block topmenu %}
<ul class="header-nav d-lg-flex m-3">
    <div class="container-fluid px-4">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-0">
          <li class="breadcrumb-item">User Management</li>
          <li class="breadcrumb-item"><a href="/user/list">Users</a></li>
          <li class="breadcrumb-item">Privileges</li>
          <li class="breadcrumb-item active" aria-current="page">{{ username }}</li>
        </ol>
      </nav>
    </div>
</ul>
<ul class="header-nav ms-auto"></ul>
<ul class="header-nav d-lg-flex">
{% include "segments/topmenu.html.j2" %}
{% endblock %}

{% block content %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Roles List</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Namespace</th>
                        <th>API Groups</th>
                        <th>Non Resources</th>
                        <th>Resources</th>
                        <th>Verbs</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for ucr in user_cluster_roles %}
                    <tr>
                        <td>All</td>
                        <td>
                            {% if ucr.api_groups %}
                            {% for ag in ucr.api_groups %}
                                {% if arg|length %}
                                    {{ ag }}{% if not loop.last %}<br>{% endif %}
                                {% else %}
                                    " "{% if not loop.last %}<br>{% endif %}
                                {% endif %}
                            {% endfor %}
                            {% else %}
                                {{ ucr.api_groups }}
                            {% endif %}
                        </td>
                        <td>
                            {% if ucr.resource_names %}
                            {% for rn in ucr.resource_names %}
                                {{ rn }}{% if not loop.last %}<br>{% endif %}
                            {% endfor %}
                            {% else %}
                                {{ ucr.resource_names }}
                            {% endif %}
                        </td>
                        <td>
                            {% if ucr.resources %}
                            {% for r in ucr.resources %}
                                {{ r }}{% if not loop.last %}<br>{% endif %}
                            {% endfor %}
                            {% else %}
                                {{ ucr.resources }}
                            {% endif %}
                        </td>
                        <td>
                            {% if ucr.verbs %}
                            {% for v in ucr.verbs %}
                                {{ v }}{% if not loop.last %}<br>{% endif %}
                            {% endfor %}
                            {% else %}
                                {{ ucr.verbs }}
                            {% endif %}
                        </td>
                    </tr>    
                    {% endfor%}
                    {% for ur in user_roles %}
                    {% for ns, priv in ur.items() %}
                    <tr>
                        <td>{{ ns }}</td>
                        <td>
                            {% if priv.api_groups %}
                            {% for ag in priv.api_groups %}
                                {% if arg|length %}
                                    {{ ag }}{% if not loop.last %}<br>{% endif %}
                                {% else %}
                                    " "{% if not loop.last %}<br>{% endif %}
                                {% endif %}
                            {% endfor %}
                            {% else %}
                                {{ priv.api_groups }}
                            {% endif %}
                        </td>
                        <td>
                            {% if priv.resource_names %}
                            {% for rn in priv.resource_names %}
                                {{ rn }}{% if not loop.last %}<br>{% endif %}
                            {% endfor %}
                            {% else %}
                                {{ priv.resource_names }}
                            {% endif %}
                        </td>
                        <td>
                            {% if priv.resources %}
                            {% for r in priv.resources %}
                                {{ r }}{% if not loop.last %}<br>{% endif %}
                            {% endfor %}
                            {% else %}
                                {{ priv.resources }}
                            {% endif %}
                        </td>
                        <td>
                            {% if priv.verbs %}
                            {% for v in priv.verbs %}
                                {{ v }}{% if not loop.last %}<br>{% endif %}
                            {% endfor %}
                            {% else %}
                                {{ priv.verbs }}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor%}
                    {% endfor%}
                  </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}


{% block add_head_css %}
{% include "segments/datatable_snippet.html.j2" %}
{% endblock %}
