# custom
*instance/
*neo4j/
test*
*.crt
*manage.py

# deploy
docker/*.py
docker/*/*.py

# enable tests
!tests

# mkdocs documentation
/site

# editor
config.json
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
__pypackages__/
*.py[cod]
*$py.class
*screenshots

# Distribution / packaging
.Python
build/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
