# custom
CA.crt
.venv/
*instance/
*database/
*neo4j/
*.crt
*manage.py
src/kubedash/run.sh
src/kubedash/kubedash.ini

# helm
.cr-index/
.cr-release-packages/

# deploy
docker/kubedash/kubedash
src/kubedash/kubedash.ini
src/kubedash/.venv

# enable tests
!tests
!database/.gitkeep
!.venv/.gitkeep

# mkdocs documentation
/site
docs/.venv

# macOS
.dccache

# editor
config.json
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
__pypackages__/
*.py[cod]
*$py.class
*screenshots

# Distribution / packaging
.Python
build/
src/kdlogin/dist/windows
src/kdlogin/dist/linux
src/kdlogin/dist/osx
src/kdlogin/dist/release
src/kdlogin/dist/homebrew
src/kdlogin/dist/krew/
src/kdlogin/dist/config.yaml
src/kdlogin/dist/metadata.json
src/*/Makefile

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
src/certs
!kubedash.ini.example
kubedash.ini*
