site_name: KubeDash
site_description:  KubeDash is a general purpose, web-based UI for Kubernetes clusters.
site_url: https://devopstales.github.io/kubedash/
docs_dir: docs/
repo_name: GitHub
repo_url: https://github.com/devopstales/KubeDash
edit_uri: ""

nav:
    - Overview: index.md
    - Installation: 
      - How to Install?: installation/installation.md
      - Configuration: installation/configuration.md
      - Platforms: installation/platforms.md
    - Functions:
      - Authentication: functions/authentication.md
      - User Management: functions/users.md
      - Manage Privileges: functions/rbac.md
      - Connect a Kubernetes Cluster: functions/k8s-api.md
      - Generate Kubectl Config: functions/kubectl-config.md
      - Cluster Metrics & Dashboard: functions/cluster-metrics.md
      - Resource Map: functions/resource-map.md
      - Workload Management: functions/workloads.md
      - Pod Debugging: functions/pod-debugging.md
      - Namespace Management: functions/namespaces.md
      - Network Resources: functions/network.md
      - Storage Resources: functions/storage.md
      - Security Resources: functions/security.md
      - Node Management: functions/nodes.md
      - Cluster Permissions: functions/cluster-permissions.md
      - Autoscaling & Resource Management: functions/autoscaling.md
      - Custom Resource Definitions: functions/crds.md
    - Integrations:
      - Kubectl Plugin: integrations/kubectl-plugin.md
      - Docker Registry: integrations/docker-registry.md
      - Helm Chart: integrations/helm.md
      - Cert Manager: integrations/cert-manager.md
      - External LoadBalancer: integrations/external-load-balancer.md
      - Extension API: integrations/extension-api.md
    - Contributing: contributing.md
    - FAQ:
      - Technical: faq/technical.md

# Documentation and theme
theme:
  name: material
  language: "en"
  palette:
    # Palette toggle for light mode
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
  features:
    - navigation.expand

# Extensions
markdown_extensions:
  - pymdownx.highlight
  - pymdownx.superfences
  - admonition
  - footnotes
  - attr_list
  - pymdownx.tabbed
  - def_list
  - pymdownx.details

extra:
  generator: false
  version:
    default: latest
    method: mike
    provider: mike

plugins:
  - search
  - macros
  - glightbox
