.bg-login-image {
  background: url(/img/PIXNIO-210964-725x484.jpeg);
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto;
  background-position: center;
  background-size: cover;
}