.valid {
    color: green;
    margin-bottom: 0;
}

.valid:before {
    position: relative;
    left: -10px;
    content: "✔";
}

.invalid {
    color: red;
    margin-bottom: 0;
}

.invalid:before {
    position: relative;
    left: -10px;
    content: "✖";
}

.textshadow {
    color: transparent;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
 }