/* 
Password validation
*/
.valid {
    color: green;
    margin-bottom: 0;
}

.valid:before {
    position: relative;
    left: -10px;
    content: "✔";
}

.invalid {
    color: red;
    margin-bottom: 0;
}

.invalid:before {
    position: relative;
    left: -10px;
    content: "✖";
}

/* 
Password hide
*/
.textshadow {
    color: transparent;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
 }

 /* 
Progress bar
*/
progress {
    /* style rules */
    -webkit-appearance: none;
    appearance: none;
    border-radius: 6px;
}

progress::-webkit-progress-bar {
    /* style rules */
    border-radius: 6px;
    background-color: #e6e6e6;
}

progress::-webkit-progress-value {
    /* style rules */
    border-radius: 6px;
    background-color: #059bff;
}

progress::-moz-progress-bar {
    /* style rules */
    border-radius: 6px;
    background-color: #059bff;
}

 /* 
Xtermjs styles

    width: 100%;
    height: calc(100% - 50px)
*/

.form-post {
    display: inline;
}

.terminalBody {
    display: inline;
    width: calc(100% - 15px);
    height: calc(100% - 50px);
}

span.status {
    font-size: small;
}

span.connected {
    background-color: lightgreen;
}

span.disconnected {
    background-color: #ff8383;
}

/*
Badge styles
*/

.badge-tag {
    font-size: 87%;
}

/* 
Input spinnes
*/

.spinner {
    width: 30px;
    text-align: center;
}

/*
Code output
*/
code {
    max-height: 1000px;
}

/*
Docker registry notags
*/

h2.center {
    text-align: center;
}

h4.center {
    text-align: center;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
