{% extends "base2.html.j2" %}

{% block topmenu %}
<ul class="header-nav d-lg-flex m-3">
    <div class="container-fluid px-4">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-0">
          <li class="breadcrumb-item"><span>Dashboard</span></li>
          <li class="breadcrumb-item active"><span>Cluster Metrics</span></li>
        </ol>
      </nav>
    </div>
</ul>
<ul class="header-nav ms-auto"></ul>
<ul class="header-nav d-lg-flex">
{% include "segments/topmenu.html.j2" %}
{% endblock %}

{% block content %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Cluster Metrics</h6>
    </div>
    <div class="card-body">
        <div class="d-flex flex-row docs-highlight mb-3">
            <div class="p-2 docs-highlight">
                <div id="cpu_chart" class="chart"></div>
            </div>
            <div class="p-2 docs-highlight">
                <div>
                <div id="memory_chart" class="chart"></div>
                </div>
            </div>
            <div class="p-2 docs-highlight">
                <div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block add_tail_js %}
    <script src="{{ url_for('static',filename='/vendor/plotly@latest/plotly-latest.min.js') }}"></script>

    <script type="text/javascript">
        var graphs = {{cpu_chart | safe}};
        Plotly.plot('cpu_chart',graphs,{});        
    </script>

    <script type="text/javascript">
        var graphs = {{memory_chart | safe}};
        Plotly.plot('memory_chart',graphs,{});        
    </script>
{% endblock %}
