    <!-- Datatables css -->
    <link href="{{ url_for('static',filename='/vendor/datatables@2.2.2/dataTables.bootstrap5.min.css') }}" rel="stylesheet" >

    <!-- Datatables js -->
    <script src="{{ url_for('static',filename='/vendor/jquery@3.7.1/js/jquery-3.7.1.js') }}"></script>
    <script src="{{ url_for('static',filename='/vendor/datatables@2.2.2/dataTables.bootstrap5.min.js') }}"></script>
    <script src="{{ url_for('static',filename='/vendor/datatables@2.2.2/dataTables.min.js') }}"></script>
