{% block footer %}
    <footer class="footer px-4">
        <div><a href="https://devopstales.github.io">DevOpsTales</a> - <a href="https://devopstales.github.io/KubeDash/latest/">KubeDash {{ kubedash_version }}</a> Copyright &copy; 2021-2025</div>
        <div class="ms-auto">Powered by&nbsp;<a href="https://coreui.io/docs/">CoreUI UI Components</a></div>
    </footer>
{% endblock %}