    <div class="container-fluid border-bottom px-4">
        <button class="header-toggler" type="button" onclick="coreui.Sidebar.getInstance(document.querySelector('#sidebar')).toggle()" style="margin-inline-start: -14px;">
        <svg class="icon icon-lg">
            <use xlink:href="{{ url_for('static',filename='/vendor/@coreui/icons/svg/free.svg') }}#cil-menu"></use>
        </svg>
        </button>

        <!-- Topbar Namespace -->
        {% if namespaces %}
        <ul class="header-nav d-none d-lg-flex">
        <li class="nav-item">
            <form name="add" method="POST" class="form-inline row"> <!-- row row-cols-1 mr-auto ml-md-0 mw-100 -->
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="input-group">
                    <select name= "ns_select" class="form-select" id="inputGroupSelect04" aria-label="Select Namespace">
                        {% for ns in namespaces %}
                        {% if ns == session['ns_select'] %}
                        <option selected>{{ ns }}</option>
                        {% else %}
                        <option value="{{ ns }}">{{ ns }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-primary" type="button">Submit</button>
                </div>
            </form>
        </li>
        </ul>
        {% endif %}

        <ul class="header-nav ms-auto"></ul>

        <ul class="header-nav">
        <li class="nav-item py-1">
            <div class="vr h-100 mx-2 text-body text-opacity-75"></div>
        </li>
        <li class="nav-item dropdown">
            <button class="btn btn-link nav-link py-2 px-2 d-flex align-items-center" type="button" aria-expanded="false" data-coreui-toggle="dropdown">
            <svg class="icon icon-lg theme-icon-active">
                <use xlink:href="{{ url_for('static',filename='/vendor/@coreui/icons/svg/free.svg') }}#cil-contrast"></use>
            </svg>
            </button>
            <ul class="dropdown-menu dropdown-menu-end" style="--cui-dropdown-min-width: 8rem;">
            <li>
                <button class="dropdown-item d-flex align-items-center" type="button" data-coreui-theme-value="light">
                <svg class="icon icon-lg me-3">
                    <use xlink:href="{{ url_for('static',filename='/vendor/@coreui/icons/svg/free.svg') }}#cil-sun"></use>
                </svg>Light
                </button>
            </li>
            <li>
                <button class="dropdown-item d-flex align-items-center" type="button" data-coreui-theme-value="dark">
                <svg class="icon icon-lg me-3">
                    <use xlink:href="{{ url_for('static',filename='/vendor/@coreui/icons/svg/free.svg') }}#cil-moon"></use>
                </svg>Dark
                </button>
            </li>
            <li>
                <button class="dropdown-item d-flex align-items-center active" type="button" data-coreui-theme-value="auto">
                <svg class="icon icon-lg me-3">
                    <use xlink:href="{{ url_for('static',filename='/vendor/@coreui/icons/svg/free.svg') }}#cil-contrast"></use>
                </svg>Auto
                </button>
            </li>
            </ul>
        </li>
        <li class="nav-item py-1">
            <div class="vr h-100 mx-2 text-body text-opacity-75"></div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link py-0 pe-0" data-coreui-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <div class="avatar avatar-md"><img class="avatar-img" src="{{ url_for('static',filename='/assets/img/avatars/undraw_profile.svg') }}" alt="{{ session['username'] }}"></div>
            </a>
            <div class="dropdown-menu dropdown-menu-end pt-0">
                <div class="dropdown-header bg-body-tertiary text-body-secondary fw-semibold my-2">
                    <div class="fw-semibold">Account</div>
                </div>
                <a class="dropdown-item" href="/user/info">
                    <svg class="icon me-2">
                        <use xlink:href="{{ url_for('static',filename='/vendor/@coreui/icons/svg/free.svg') }}#cil-user"></use>
                    </svg>
                Profile</a>
                <a class="dropdown-item" href="/settings/export">
                    <svg class="icon me-2">
                        <use xlink:href="{{ url_for('static',filename='/vendor/@coreui/icons/svg/free.svg') }}#cil-settings"></use>
                    </svg>
                 Get KubeCong
                </a>
                <a class="dropdown-item" href="#">
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#logoutModal">
                        <svg class="icon me-2">
                            <use xlink:href="{{ url_for('static',filename='/vendor/@coreui/icons/svg/free.svg') }}#cil-account-logout"></use>
                        </svg>
                     Logout</a>
            </div>
        </li>
        </ul>
    </div>
