
    <meta charset="utf-8">

    <link rel="stylesheet" href="{{ url_for('static',filename='/vendor/pyvis/vis-9.1.2/vis-network.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='/vendor/pyvis/vis-9.1.2/vis-network.custom.css') }}">
    <link href="{{ url_for('static',filename='/vendor/pyvis/tom-select/tom-select.css') }}" rel="stylesheet">

    <script src="{{ url_for('static',filename='/vendor/pyvis/bindings/utils.js') }}"></script>
    <script src="{{ url_for('static',filename='/vendor/pyvis/vis-9.1.2/vis-network.min.js') }}"></script>
    <script src="{{ url_for('static',filename='/vendor/pyvis/tom-select/tom-select.complete.min.js') }}"></script>