    <!-- XtermJs Socket.io CSS -->
    <link href="{{ url_for('static',filename='/vendor/xterm.js@4.11.0/xterm.css') }}" rel="stylesheet" />

    <!-- XtermJs Socket.io JS -->
    <script src="{{ url_for('static',filename='/vendor/socket.io@4.8.1/socket.io.min.js') }}"></script>
    <script src="{{ url_for('static',filename='/vendor/xterm.js@4.11.0/xterm-addon-fit.js') }}"></script>
    <script src="{{ url_for('static',filename='/vendor/xterm.js@4.11.0/xterm-addon-web-links.js') }}"></script>
    <script src="{{ url_for('static',filename='/vendor/xterm.js@4.11.0/xterm-addon-search.js') }}"></script>
    <script src="{{ url_for('static',filename='/vendor/xterm.js@4.11.0/xterm.js') }}"></script>