{% extends "base2.html.j2" %}

{% block topmenu %}
<ul class="header-nav d-lg-flex m-3">
    <div class="container-fluid px-4">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-0">
          <li class="breadcrumb-item"><span>Security</span></li>
          <li class="breadcrumb-item active"><span>Network Policies</span></li>
        </ol>
      </nav>
    </div>
</ul>
<ul class="header-nav ms-auto"></ul>
<ul class="header-nav d-lg-flex">
{% include "segments/topmenu.html.j2" %}
{% endblock %}

{% block content %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Policy List</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                      <th>Name</th>
                      <th>Pod Selector</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for policy in policies %}
                    {% if selected == policy.name %}
                      <tr class="selected" >
                    {% else %}
                      <tr>
                    {% endif %}
                        <td>
                          <form action="/security/policy/data" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="hidden" name="ns_select" value="{{ session['ns_select'] }}" />
                            <input type="hidden" name="policy_name" value="{{ policy.name }}" />
                            <a href="javascript:;" onclick="parentNode.submit();">{{ policy.name }}</a>
                          </form>
                        </td>
                        <td>
                          {% if policy.pod_selector.match_labels %}
                          {% for l_key, l_value in policy.pod_selector.match_labels.items() %}
                            <span class="badge text-bg-tag text-bg-secondary">{{ l_key }}: {{ l_value }}</span>
                            {% if not loop.last %}<br>{% endif %}
                          {% endfor %}
                          {% else %}
                            {{ policy.pod_selector.match_labels }}
                          {% endif %}
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block add_head_css %}
{% include "segments/datatable_snipet.html.j2" %}
{% endblock %}