alembic==1.16.1 ; python_version == "3.11"
apiflask==2.4.0 ; python_version == "3.11"
apispec==6.8.2 ; python_version == "3.11"
asttokens==3.0.0 ; python_version == "3.11"
async-timeout==5.0.1 ; python_version == "3.11" and python_full_version < "3.11.3"
bidict==0.23.1 ; python_version == "3.11"
blinker==1.9.0 ; python_version == "3.11"
brotli==1.1.0 ; python_version == "3.11" and platform_python_implementation == "CPython"
brotlicffi==1.1.0.0 ; python_version == "3.11" and platform_python_implementation != "CPython"
cachelib==0.13.0 ; python_version == "3.11"
cachetools==5.5.2 ; python_version == "3.11"
certifi==2024.7.4 ; python_version == "3.11"
cffi==1.17.1 ; python_version == "3.11"
charset-normalizer==3.4.2 ; python_version == "3.11"
click==8.1.8 ; python_version == "3.11"
colorama==0.4.6 ; (platform_system == "Windows" or sys_platform == "win32") and python_version == "3.11"
configparser==7.0.0 ; python_version == "3.11"
cryptography==44.0.1 ; python_version == "3.11"
cssselect2==0.8.0 ; python_version == "3.11"
decorator==5.2.1 ; python_version == "3.11"
deprecated==1.2.18 ; python_version == "3.11"
dnspython==2.6.1 ; python_version == "3.11"
eventlet==0.35.2 ; python_version == "3.11"
executing==2.2.0 ; python_version == "3.11"
flask-caching==2.3.1 ; python_version == "3.11"
flask-cors==6.0.0 ; python_version == "3.11"
flask-httpauth==4.8.0 ; python_version == "3.11"
flask-login==0.6.3 ; python_version == "3.11"
flask-marshmallow==1.3.0 ; python_version == "3.11"
flask-migrate==4.0.5 ; python_version == "3.11"
flask-session==0.8.0 ; python_version == "3.11"
flask-smorest==0.46.1 ; python_version == "3.11"
flask-socketio==5.3.4 ; python_version == "3.11"
flask-sqlalchemy==3.0.5 ; python_version == "3.11"
flask-talisman==1.1.0 ; python_version == "3.11"
flask-wtf==1.2.1 ; python_version == "3.11"
flask==3.0.2 ; python_version == "3.11"
fonttools==4.58.0 ; python_version == "3.11"
gevent-websocket==0.10.1 ; python_version == "3.11"
gevent==23.9.0 ; python_version == "3.11"
google-auth==2.40.2 ; python_version == "3.11"
googleapis-common-protos==1.70.0 ; python_version == "3.11"
greenlet==3.2.2 ; python_version == "3.11"
gunicorn-color==0.1.0 ; python_version == "3.11"
gunicorn==23.0.0 ; python_version == "3.11"
h11==0.16.0 ; python_version == "3.11"
html5lib==1.1 ; python_version == "3.11"
idna==3.10 ; python_version == "3.11"
importlib-metadata==8.4.0 ; python_version == "3.11"
ipython==8.27.0 ; python_version == "3.11"
itsdangerous==2.2.0 ; python_version == "3.11"
jedi==0.19.2 ; python_version == "3.11"
jinja2==3.1.6 ; python_version == "3.11"
jsonpickle==4.1.0 ; python_version == "3.11"
kubernetes==26.1.0 ; python_version == "3.11"
mako==1.3.10 ; python_version == "3.11"
markupsafe==3.0.2 ; python_version == "3.11"
marshmallow==4.0.0 ; python_version == "3.11"
matplotlib-inline==0.1.7 ; python_version == "3.11"
msgspec==0.19.0 ; python_version == "3.11"
narwhals==1.40.0 ; python_version == "3.11"
networkx==3.4.2 ; python_version == "3.11"
oauthlib==3.2.2 ; python_version == "3.11"
opentelemetry-api==1.28.2 ; python_version == "3.11"
opentelemetry-exporter-otlp-proto-common==1.28.2 ; python_version == "3.11"
opentelemetry-exporter-otlp-proto-http==1.28.2 ; python_version == "3.11"
opentelemetry-instrumentation-flask==0.49b2 ; python_version == "3.11"
opentelemetry-instrumentation-logging==0.49b2 ; python_version == "3.11"
opentelemetry-instrumentation-requests==0.49b2 ; python_version == "3.11"
opentelemetry-instrumentation-sqlalchemy==0.49b2 ; python_version == "3.11"
opentelemetry-instrumentation-wsgi==0.49b2 ; python_version == "3.11"
opentelemetry-instrumentation==0.49b2 ; python_version == "3.11"
opentelemetry-proto==1.28.2 ; python_version == "3.11"
opentelemetry-sdk==1.28.2 ; python_version == "3.11"
opentelemetry-semantic-conventions==0.49b2 ; python_version == "3.11"
opentelemetry-util-http==0.49b2 ; python_version == "3.11"
packaging==25.0 ; python_version == "3.11"
parso==0.8.4 ; python_version == "3.11"
pexpect==4.9.0 ; python_version == "3.11" and sys_platform != "win32" and sys_platform != "emscripten"
pillow==11.2.1 ; python_version == "3.11"
plotly==6.1.1 ; python_version == "3.11"
prometheus-client==0.22.0 ; python_version == "3.11"
prometheus-flask-exporter==0.23.1 ; python_version == "3.11"
prompt-toolkit==3.0.51 ; python_version == "3.11"
protobuf==5.29.4 ; python_version == "3.11"
psycopg2-binary==2.9.10 ; python_version == "3.11"
ptyprocess==0.7.0 ; python_version == "3.11" and sys_platform != "win32" and sys_platform != "emscripten"
pure-eval==0.2.3 ; python_version == "3.11"
pyasn1-modules==0.4.2 ; python_version == "3.11"
pyasn1==0.6.1 ; python_version == "3.11"
pybase64==1.4.0 ; python_version == "3.11"
pycparser==2.22 ; python_version == "3.11"
pydyf==0.11.0 ; python_version == "3.11"
pygments==2.19.1 ; python_version == "3.11"
pyjwt==2.9.0 ; python_version == "3.11"
pyopenssl==25.1.0 ; python_version == "3.11"
pyphen==0.17.2 ; python_version == "3.11"
python-dateutil==2.9.0.post0 ; python_version == "3.11"
python-engineio==4.12.1 ; python_version == "3.11"
python-socketio==5.13.0 ; python_version == "3.11"
pytz==2023.3.post1 ; python_version == "3.11"
pyvis==0.3.2 ; python_version == "3.11"
pyyaml==6.0.2 ; python_version == "3.11"
redis==5.3.0 ; python_version == "3.11"
requests-oauthlib==2.0.0 ; python_version == "3.11"
requests==2.32.2 ; python_version == "3.11"
rsa==4.9.1 ; python_version == "3.11"
setuptools==70.0.0 ; python_version == "3.11"
simple-websocket==1.1.0 ; python_version == "3.11"
six==1.17.0 ; python_version == "3.11"
sqlalchemy-utils==0.41.1 ; python_version == "3.11"
sqlalchemy==2.0.17 ; python_version == "3.11"
stack-data==0.6.3 ; python_version == "3.11"
swagger-ui-bundle==1.1.0 ; python_version == "3.11"
termcolor==3.1.0 ; python_version == "3.11"
tinycss2==1.4.0 ; python_version == "3.11"
traitlets==5.14.3 ; python_version == "3.11"
typing-extensions==4.13.2 ; python_version == "3.11"
urllib3==2.2.2 ; python_version == "3.11"
watchdog==6.0.0 ; python_version == "3.11"
wcwidth==0.2.13 ; python_version == "3.11"
weasyprint==56.1 ; python_version == "3.11"
webargs==8.7.0 ; python_version == "3.11"
webencodings==0.5.1 ; python_version == "3.11"
websocket-client==1.8.0 ; python_version == "3.11"
werkzeug==3.0.6 ; python_version == "3.11"
wrapt==1.17.2 ; python_version == "3.11"
wsproto==1.2.0 ; python_version == "3.11"
wtforms==3.2.1 ; python_version == "3.11"
zipp==3.19.1 ; python_version == "3.11"
zope-event==5.0 ; python_version == "3.11"
zope-interface==7.2 ; python_version == "3.11"
zopfli==0.2.3.post1 ; python_version == "3.11"
