<!DOCTYPE html>

<!--
* CoreUI - Free Bootstrap Admin Template
* @version v5.1.1
* @link https://coreui.io/product/free-bootstrap-admin-template/
* Copyright (c) 2024 creativeLabs Łukasz Holeczek
* Licensed under MIT (https://github.com/coreui/coreui-free-bootstrap-admin-template/blob/main/LICENSE)
-->

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="KubeDash - Open Source Kubernetes Admin Dashboard">
    <meta name="author" content="Páldi Balázs">
    <title>KubeDash</title>

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static',filename='/assets/favicon/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static',filename='/assets/favicon/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static',filename='/assets/favicon/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static',filename='/assets/favicon/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static',filename='/assets/favicon/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static',filename='/assets/favicon/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static',filename='/assets/favicon/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static',filename='/assets/favicon/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static',filename='/assets/favicon/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static',filename='/assets/favicon/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static',filename='/assets/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static',filename='/assets/favicon/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static',filename='/assets/favicon/favicon-16x16.png') }}">
    
    <link rel="manifest" href="{{ url_for('static',filename='/assets/favicon/manifest.json') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ url_for('static',filename='/assets/favicon/ms-icon-144x144.png') }}">
    <meta name="theme-color" content="#ffffff">

    <!-- Vendors styles-->
    <link rel="stylesheet" href="{{ url_for('static',filename='/vendor/simplebar/css/simplebar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='/css/vendors/simplebar.css') }}">

    <!-- Main styles for this application-->
    <link href="{{ url_for('static',filename='/css/style.css') }}" rel="stylesheet">
    
    <!-- We use those styles to show code examples, you should remove them in your application.-->
    <link href="{{ url_for('static',filename='/css/examples.css') }}" rel="stylesheet">

    <!-- Page head_css -->
    {% block head_css %}
    {% endblock %}
  </head>
  <body>

    <!-- Page body -->
    {% block content %}
    {% endblock %}

    <!-- CoreUI and necessary plugins-->
    <script src="{{ url_for('static',filename='/vendor/@coreui/coreui/js/coreui.bundle.min.js') }}"></script>
    <script src="{{ url_for('static',filename='/vendor/simplebar/js/simplebar.min.js') }}"></script>

    <!-- We use those styles to show code examples, you should remove them in your application.-->
    <script src="{{ url_for('static',filename='/js/config.js') }}"></script>
    <script src="{{ url_for('static',filename='/js/color-modes.js') }}"></script>

    <script>
      const header = document.querySelector('header.header');

      document.addEventListener('scroll', () => {
        if (header) {
          header.classList.toggle('shadow-sm', document.documentElement.scrollTop > 0);
        }
      });
    </script>

    <!-- Page tail_js -->
    {% block add_tail_js %}
    {% endblock %}

    <!-- Page tail -->
    {% block tail %}
    {% endblock %}
  </body>
</html>