<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>KubeDash</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="{{ url_for('static',filename='/favicon.ico') }}">

    <!-- Custom fonts for this template-->
    <link href="{{ url_for('static',filename='/vendor/fontawesome-free-6.4.0-web/css/all.css') }}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{{ url_for('static',filename='/css/sb-admin-2.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='/css/sb-admin-2.custom.css') }}" rel="stylesheet">

    <link href="{{ url_for('static',filename='/vendor/google/material-icons.css') }}" rel="stylesheet" >

    <!-- child template -->
    {% block header %}{% endblock %}

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/cluster-metrics">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">KubeDash</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDashoard"
                    aria-expanded="true" aria-controls="collapseDashoard">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashoard</span>
                </a>
                <div id="collapseDashoard" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="/cluster-metrics">Cluster Metrics</a>
                        <a class="collapse-item" href="/workload-map">Workload Map</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div>

            <!-- Nav Item - Cluster Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCluster"
                    aria-expanded="true" aria-controls="collapseCluster">
                    <i class="fas fa-fw fa-circle-nodes"></i>
                    <span>Cluster</span>
                </a>
                <div id="collapseCluster" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="/nodes">Nodes</a>
                        <a class="collapse-item" href="/namespaces">Namespaces</a>
                        {% if session['ns_select'] %}
                        <form action="/horizontal_pod_autoscaler" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="hidden" name="ns_select" value="{{ session['ns_select'] }}" />
                            <a class="collapse-item" href="#" onclick="event.preventDefault(); this.parentNode.submit()">Horizontal Pod Autoscaler</a>
                        </form>
                        <form action="/pod_disruption_budget" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="hidden" name="ns_select" value="{{ session['ns_select'] }}" />
                            <a class="collapse-item" href="#" onclick="event.preventDefault(); this.parentNode.submit()">Pod Disruption Budget</a>
                        </form>
                        <form action="/resource_quota" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="hidden" name="ns_select" value="{{ session['ns_select'] }}" />
                            <a class="collapse-item" href="#" onclick="event.preventDefault(); this.parentNode.submit()">Resource Quota</a>
                        </form>
                        <form action="/limit_range" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="hidden" name="ns_select" value="{{ session['ns_select'] }}" />
                            <a class="collapse-item" href="#" onclick="event.preventDefault(); this.parentNode.submit()">Limit Range</a>
                        </form>
                        {% else %}
                        <a class="collapse-item" href="/horizontal_pod_autoscaler">Horizontal Pod Autoscaler</a>
                        <a class="collapse-item" href="/pod_disruption_budget">Pod Disruption Budget</a>
                        <a class="collapse-item" href="/resource_quota">Resource Quota</a>
                        <a class="collapse-item" href="/limit_range">Limit Range</a>
                        {% endif %}
                    </div>
                </div>
            </li>

            <!-- Nav Item - Roles Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRoles"
                    aria-expanded="true" aria-controls="collapseRoles">
                    <i class="fas fa-fw fa-user-shield"></i>
                    <span>User Management</span>
                </a>
                <div id="collapseRoles" class="collapse" aria-labelledby="headingRoles"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="/users">Users & Roles</a>
                        <!-- -->
                        {% if session['ns_select'] %}
                        <form action="/service-accounts" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="hidden" name="ns_select" value="{{ session['ns_select'] }}" />
                            <a class="collapse-item" href="#" onclick="event.preventDefault(); this.parentNode.submit()">ServiceAccounts</a>
                        </form>
                        {% else %}
                        <a class="collapse-item" href="/service-accounts">ServiceAccounts</a>
                        {% endif %}
                        <!-- -->
                        {#<a class="collapse-item" href="">RoleTemplates</a>#}
                        <!-- -->
                        {% if session['ns_select'] %}
                        <form action="/roles" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="hidden" name="ns_select" value="{{ session['ns_select'] }}" />
                            <a class="collapse-item" href="#" onclick="event.preventDefault(); this.parentNode.submit()">Roles</a>
                        </form>
                        {% else %}
                        <a class="collapse-item" href="/roles">Roles</a>
                        {% endif %} 
                        <!-- -->
                        {% if session['ns_select'] %}
                        <form action="/role-bindings" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="hidden" name="ns_select" value="{{ session['ns_select'] }}" />
                            <a class="collapse-item" href="#" onclick="event.preventDefault(); this.parentNode.submit()">RoleBindings</a>
                        </form>
                        {% else %}
                        <a class="collapse-item" href="/role-bindings">RoleBindings</a>
                        {% endif %}
                        <a class="collapse-item" href="/cluster-roles">ClusterRoles</a>
                        <a class="collapse-item" href="/cluster-role-bindings">ClusterRoleBindings</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Workloads Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseWorkloads"
                    aria-expanded="true" aria-controls="collapseWorkloads">
                    <i class="fas fa-fw fa-cubes"></i>
                    <span>Workloads</span>
                </a>
                <div id="collapseWorkloads" class="collapse" aria-labelledby="headingWorkloads"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        {% if session['ns_select'] %}
                        <form action="/statefulsets" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="hidden" name="ns_select" value="{{ session['ns_select'] }}" />
                            <a class="collapse-item" href="#" onclick="event.preventDefault(); this.parentNode.submit()">StatefulSets</a>
                         </form>
                         {% else %}
                         <a class="collapse-item" href="/statefulsets">StatefulSets</a>
                         {% endif %}
                        {% if session['ns_select'] %}
                        <form action="/daemonsets" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="hidden" name="ns_select" value="{{ session['ns_select'] }}" />
                            <a class="collapse-item" href="#" onclick="event.preventDefault(); this.parentNode.submit()">DaemonSets</a>
                         </form>
                         {% else %}
                         <a class="collapse-item" href="/daemonsets">DaemonSets</a>
                         {% endif %}
                         <!-- -->
                        {% if session['ns_select'] %}
                        <form action="/deployments" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="hidden" name="ns_select" value="{{ session['ns_select'] }}" />
                            <a class="collapse-item" href="#" onclick="event.preventDefault(); this.parentNode.submit()">Deployments</a>
                         </form>
                         {% else %}
                         <a class="collapse-item" href="/deployments">Deployments</a>
                         {% endif %}
                         <!-- -->
                        {% if session['ns_select'] %}
                        <form action="/replicasets" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="hidden" name="ns_select" value="{{ session['ns_select'] }}" />
                            <a class="collapse-item" href="#" onclick="event.preventDefault(); this.parentNode.submit()">ReplicaSets</a>
                         </form>
                         {% else %}
                         <a class="collapse-item" href="/replicasets">ReplicaSets</a>
                         {% endif %}
                         <!-- -->
                        {% if session['ns_select'] %}
                        <form action="/pods" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="hidden" name="ns_select" value="{{ session['ns_select'] }}" />
                            <a class="collapse-item" href="#" onclick="event.preventDefault(); this.parentNode.submit()">Pods</a>
                         </form>
                         {% else %}
                         <a class="collapse-item" href="/pods">Pods</a>
                         {% endif %}
                    </div>
                </div>
            </li>

            <!-- Nav Item - Ingress Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseIngress"
                    aria-expanded="true" aria-controls="collapseIngress">
                    <i class="fas fa-fw fa-sitemap"></i>
                    <span>Network</span>
                </a>
                <div id="collapseIngress" class="collapse" aria-labelledby="headingIngress"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="/ingress-class">Ingress Class</a>
                        <a class="collapse-item" href="/ingress">Ingress </a>
                        <a class="collapse-item" href="/services">Services</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Storage Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseStorage"
                    aria-expanded="true" aria-controls="collapseStorage">
                    <i class="fas fa-fw fa-database"></i>
                    <span>Storage</span>
                </a>
                <div id="collapseStorage" class="collapse" aria-labelledby="headingStorage"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="/storage-class">StorageClass</a>
                        <a class="collapse-item" href="/snapshot-class">SnapshotClass</a>
                        {% if session['ns_select'] %}
                        <form action="/pvc" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="hidden" name="ns_select" value="{{ session['ns_select'] }}" />
                            <a class="collapse-item" href="#" onclick="event.preventDefault(); this.parentNode.submit()">VolumeClames</a>
                        </form>
                        <a class="collapse-item" href="/pv">Volumes</a>
                        <a class="collapse-item" href="/volumesnapshots">VolumeSnapshot</a>
                        <form action="/configmaps" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="hidden" name="ns_select" value="{{ session['ns_select'] }}" />
                            <a class="collapse-item" href="#" onclick="event.preventDefault(); this.parentNode.submit()">ConfigMaps</a>
                        </form>
                        {% else %}
                        <a class="collapse-item" href="/pvc">VolumeClames</a>
                        <a class="collapse-item" href="/pv">Volumes</a>
                        <a class="collapse-item" href="/volumesnapshots">VolumeSnapshot</a>
                        <a class="collapse-item" href="/configmaps">ConfigMaps</a>
                        {% endif %}
                    </div>
                </div>
            </li>

            <!-- Nav Item - Security Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSecurity"
                    aria-expanded="true" aria-controls="collapseSecurity">
                    <i class="fas fa-fw fa-shield"></i>
                    <span>Security</span>
                </a>
                <div id="collapseSecurity" class="collapse" aria-labelledby="headingSecurity"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        {% if session['ns_select'] %}
                        <form action="/secrets" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="hidden" name="ns_select" value="{{ session['ns_select'] }}" />
                            <a class="collapse-item" href="#" onclick="event.preventDefault(); this.parentNode.submit()">Secrets</a>
                        </form>
                        <form action="/policies" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="hidden" name="ns_select" value="{{ session['ns_select'] }}" />
                            <a class="collapse-item" href="#" onclick="event.preventDefault(); this.parentNode.submit()">Network Policies</a>
                        </form>
                        {% else %}
                        <a class="collapse-item" href="/secrets">Secrets</a>
                        <a class="collapse-item" href="/policies">Network Policies</a>
                        {% endif %}
                        <a class="collapse-item" href="/priorityclass">Priority Classes</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Settings Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSettings"
                    aria-expanded="true" aria-controls="collapseSettings">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Settings</span>
                </a>
                <div id="collapseSettings" class="collapse" aria-labelledby="headingSettings"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        {% if session['user_role'] == "Admin" %}
                        <a class="collapse-item" href="/sso-config">SSO Configuration</a>
                        <a class="collapse-item" href="/cluster-config">Cluster Configuration</a>
                        {% endif %}
			            <a class="collapse-item" href="/export">Download Client Config</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Registrys -->
            <li class="nav-item">
                <a class="nav-link" href="/registry">
                    <i class="fa-brands fa-docker"></i>
                    <span>OCI Registrys</span></a>
            </li>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="/charts">
                    <i class="fa-sharp fa-solid fa-helmet-safety"></i>
                    <span>Helm Charts</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Namespace -->
                    {% if namespaces %}
                    <nav class="navbar navbar-light bg-light row">
                        <form name="add" method="POST" class="form-inline row row-cols-1 mr-auto ml-md-0 mw-100">
                          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                          <div class="input-group">
                            <select name= "ns_select" class="custom-select" id="inputGroupSelect04" aria-label="Select Namespace">
                                {% for ns in namespaces %}
                                {% if ns == session['ns_select'] %}
                                <option selected>{{ ns }}</option>
                                {% else %}
                                <option value="{{ ns }}">{{ ns }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                            <div class="input-group-append">
                              <button type="submit" class="btn btn-primary" type="button">Submit</button>
                            </div>
                          </div>
                        </form>
                    </nav>
                    {% endif %}

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        {#
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>
                        #}


                        {#
                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <span class="badge badge-danger badge-counter">{{ get_flashed_messages()|length }}</span>
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Alerts Center
                                </h6>
                                {% if get_flashed_messages() %}
                                {% for category, message in get_flashed_messages(with_categories=true) %}
                                <div class="dropdown-item d-flex align-items-center alert alert-dismissible fade show" role="alert">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-{{category}}">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <a onclick="javascript:$('.alert').alert('close')">
                                        {{message}}
                                    </a>
                                </div>
                                {% endfor %}
                                {% endif %}
                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                            </div>
                        </li>
                        #}

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ session['username'] }}</span>
                                <img class="img-profile rounded-circle"
                                    src="{{ url_for('static',filename='/img/undraw_profile.svg') }}">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="/profile">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="/export">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Download KubeConfig
                                </a>
                                {#
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                #}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    {% if get_flashed_messages() %}
                    {% for category, message in get_flashed_messages(with_categories=true) %}
                    <div id="flashMessage" class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    {% endfor %}
                    {% endif %}

                    <!-- Page Content -->
                    {% block content %}{% endblock %}
                    <!-- child template -->

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; DevOpsTales - KubeDash 2022</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function setClipboard(value) {
            var tempInput = document.createElement("input");
            tempInput.style = "position: absolute; left: -1000px; top: -1000px";
            tempInput.value = value;
            document.body.appendChild(tempInput);
            tempInput.select();
            document.execCommand("copy");
            document.body.removeChild(tempInput);
        }
    
        function reload() {
            location.reload(true);
        };
    </script>
    <script type="text/javascript">
        setTimeout(function() {
            $('#flashMessage').fadeOut('fast');
        }, 30000);
    </script>

    <!-- Bootstrap core JavaScript-->
    <script src="{{ url_for('static',filename='/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script> 

    <!-- Core plugin JavaScript-->
    <script src="{{ url_for('static',filename='/vendor/jquery-easing/jquery.easing.min.js') }}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{ url_for('static',filename='/js/sb-admin-2.min.js') }}"></script> 

    <!-- child template -->
    {% block scripts %}{% endblock %}
</body>

</html>
