            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; 2021-2025 DevOpsTales - KubeDash {{ kubedash_version }}</span>
                    </div>
                </div>
            </footer>
