{% extends "base.html.j2" %}

{% block header %}
    <link href="{{ url_for('static',filename='/vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet" >
    <link href="{{ url_for('static',filename='/vendor/google/material-icons.css') }}" rel="stylesheet" >
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Charts</li>
    <div class="col">
      <a class="card-link float-right" data-toggle="collapse" href="#" onclick="reload()">
        <i class="material-icons">refresh</i>
      </a>
    </div>
  </ol>
</nav>

<div class="card shadow mb-4">
    <div class="card-header">
        <h6 class="m-0 font-weight-bold text-primary">Cert-Manager</h6>
    </div>
    <div class="card-body">
        <ul class="nav nav-tabs" id="nav-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="nav-pod-tab" data-toggle="tab" href="#nav-pod" role="tab" aria-controls="nav-pod" aria-selected="true" data-toggle="tab">Pod</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="nav-containers-tab" data-toggle="tab" href="#nav-containers" role="tab" aria-controls="nav-containers" aria-selected="false" data-toggle="tab">Containers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="nav-conditions-tab" data-toggle="tab" href="#nav-conditions" role="tab" aria-controls="nav-conditions" aria-selected="false" data-toggle="tab">Conditions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="nav-security-tab" data-toggle="tab" href="#nav-security" role="tab" aria-controls="nav-security" aria-selected="false" data-toggle="tab">Security Contexts</a>
            </li>
        </ul>
        <div class="tab-content" id="nav-tabContent">
            <!-- pod -->
            <div class="tab-pane fade show active" id="nav-pod" role="tabpanel" aria-labelledby="nav-pod-tab">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="podInfoTable" width="100%" cellspacing="0">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- containers -->
            <div class="tab-pane fade" id="nav-containers" role="tabpanel" aria-labelledby="av-containers-tab">
                <div id="accordion">
                    <div class="card shadow mb-4">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="initContainersTable" width="100%" cellspacing="0">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- conditions -->
            <div class="tab-pane fade" id="nav-conditions" role="tabpanel" aria-labelledby="nav-conditions-tab">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="containersVulnTable" width="100%" cellspacing="0">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- security -->
            <div class="tab-pane fade" id="nav-security" role="tabpanel" aria-labelledby="nav-security-tab">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="securityTable" width="100%" cellspacing="0">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END -->
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <!-- Page level plugins -->
    <script src="{{ url_for('static',filename='vendor/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

    <!-- Page level custom scripts -->
    <script src="{{ url_for('static',filename='js/demo/datatables-demo.js') }}"></script>
{% endblock %}