{% extends "base.html.j2" %}

{% block header %}
    <link href="{{ url_for('static',filename='/vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet" >
    <link href="{{ url_for('static',filename='/vendor/google/material-icons.css') }}" rel="stylesheet" >
    <link href="{{ url_for('static',filename='/vendor/datatables/jquery.dataTables.css') }}" rel="stylesheet" >
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Plugins</li>
    <li class="breadcrumb-item"><a href="/cert-manager">Cert-Manager</a></li>
    <li class="breadcrumb-item">{{ object_type|replace("_", " ")|capitalize }}</li>
    <li class="breadcrumb-item active" aria-current="page">{{ object_data.name }}</li>
    <div class="col">
      <a class="card-link float-right" data-toggle="collapse" href="#" onclick="reload()">
        <i class="material-icons">refresh</i>
      </a>
    </div>
  </ol>
</nav>

<div class="card shadow mb-4">
    <div class="card-header">
        <h6 class="m-0 font-weight-bold text-primary">Cert-Manager</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="podInfoTable" width="100%" cellspacing="0">
                {% if object_type == "cluster_issuer" %}
                <tr>
                    <th>Name:</th>
                    <td>{{ object_data.name }}</td>
                </tr>
                <tr>
                    <th>Status:</th>
                    <td>
                    {% if object_data.status == 'True' %}
                        <span class="badge badge-tag badge-success">{{ object_data.reason }}</span>
                    {% else %}
                        <span class="badge badge-tag badge-danger">{{ object_data.reason }}</span>
                    {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Status message:</th>
                    <td>{{ object_data.message }}</td>
                </tr>
                <tr>
                    <th>Issuer Type:</th>
                    <td>{{ object_data.type }}</td>
                </tr>
                <tr>
                    <th>Issuer Data:</th>
                    <td>{{ object_data.issuer_data }}</td>
                </tr>
                {% elif object_type == "issuer" %}
                <tr>
                    <th>Name:</th>
                    <td>{{ object_data.name }}</td>
                </tr>
                <tr>
                    <th>Status:</th>
                    <td>
                    {% if object_data.status == 'True' %}
                        <span class="badge badge-tag badge-success">{{ object_data.reason }}</span>
                    {% else %}
                        <span class="badge badge-tag badge-danger">{{ object_data.reason }}</span>
                    {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Status message:</th>
                    <td>{{ object_data.message }}</td>
                </tr>
                <tr>
                    <th>Issuer Data:</th>
                    <td>{{ object_data.issuer_data }}</td>
                </tr>
                {% elif object_type == "certificate_request" %}
                <tr>
                    <th>Name:</th>
                    <td>{{ object_data.name }}</td>
                </tr>
                <tr>
                    <th>Status:</th>
                    <td>
                    {% if object_data.status == 'True' %}
                        <span class="badge badge-tag badge-success">{{ object_data.reason }}</span>
                    {% else %}
                        <span class="badge badge-tag badge-danger">{{ object_data.reason }}</span>
                    {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Status message:</th>
                    <td>{{ object_data.message }}</td>
                </tr>
                <tr>
                    <th>Isuer:</th>
                    <td>{{ object_data.issuer_type }}/{{ object_data.issuer }}</td>
                </tr>
                <tr>
                    <th>Owner:</th>
                    <td>{{ object_data.owner_type }}/{{ object_data.owner }}</td>
                </tr>
                {% elif object_type == "certificate" %}
                <tr>
                    <th>Name:</th>
                    <td>{{ object_data.name }}</td>
                </tr>
                <tr>
                    <th>Status:</th>
                    <td>
                    {% if object_data.status == 'True' %}
                        <span class="badge badge-tag badge-success">{{ object_data.reason }}</span>
                    {% else %}
                        <span class="badge badge-tag badge-danger">{{ object_data.reason }}</span>
                    {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Status message:</th>
                    <td>{{ object_data.message }}</td>
                </tr>
                <tr>
                    <th>Validity Not After:</th>
                    <td>{{ object_data.cert_valid }}</td>
                </tr>
                <tr>
                    <th>Certificate:</th>
                    <td>
                        <form action="/secrets" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="hidden" name="ns_select" value="{{ session['ns_select'] }}" />
                            <input type="hidden" name="selected" value="{{ object_data.secret_name }}" />
                            <a href="javascript:;" onclick="parentNode.submit();">{{ object_data.secret_name }}</a>
                        </form>
                    </td>
                </tr>
                <tr>
                    <th>Hostnames:</th>
                    <td>
                        {% for hostname in object_data.hostnames %}
                            {{ hostname }}<br>
                        {% endfor %}
                    </td>
                </tr>
                {% endif %}
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <!-- Page level plugins -->
    <script src="{{ url_for('static',filename='vendor/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

    <!-- Page level custom scripts -->
    <script src="{{ url_for('static',filename='js/demo/datatables-demo.js') }}"></script>
{% endblock %}