{% extends "base.html.j2" %}

{% block header %}
    <link href="{{ url_for('static',filename='/vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet" >
    <link href="{{ url_for('static',filename='/vendor/google/material-icons.css') }}" rel="stylesheet" >
    <link rel="stylesheet" href="{{ url_for('static',filename='/vendor/highlightjs/an-old-hope.min.css') }}">
    <script src="{{ url_for('static',filename='/vendor/highlightjs/highlight.min.js') }}"></script>
    <script>hljs.highlightAll();</script>
{% endblock %}

{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Helm Charts</li>
    <li class="breadcrumb-item"><a href="/charts">Charts</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ chart_name }}</li>
    <div class="col">
      <a class="card-link float-right" data-toggle="collapse" href="#" onclick="reload()">
        <i class="material-icons">refresh</i>
      </a>
    </div>
  </ol>
</nav>

<div class="card shadow mb-4">
    <div class="card-header">
        <h6 class="m-0 font-weight-bold text-primary">Chart Data</h6>
    </div>
    <div class="card-body">
        <!-- Chart releases loop -->
        {% for rd in chart_data %}
        {% if loop.last %}

        <ul class="nav nav-tabs" id="nav-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="nav-release-tab" data-toggle="tab" href="#nav-release" role="tab" aria-controls="nav-release" aria-selected="true" data-toggle="tab">Release</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="nav-values-tab" data-toggle="tab" href="#nav-values" role="tab" aria-controls="nav-values" aria-selected="false" data-toggle="tab">Values</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="nav-manifests-tab" data-toggle="tab" href="#nav-manifests" role="tab" aria-controls="nav-manifests" aria-selected="false" data-toggle="tab">Manifests</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="nav-resources-tab" data-toggle="tab" href="#nav-resources" role="tab" aria-controls="nav-resources" aria-selected="false" data-toggle="tab">Resources</a>
            </li>
            {#
            {% if rd.dependencies %}
            <li class="nav-item">
                <a class="nav-link" id="nav-dependencies-tab" data-toggle="tab" href="#nav-dependencies" role="tab" aria-controls="nav-dependencies" aria-selected="false" data-toggle="tab">Dependencies</a>
            </li>
            {% endif %}
            #}
        </ul>

        <div class="tab-content" id="nav-tabContent">
            <!-- release -->
            <div class="tab-pane fade show active" id="nav-release" role="tabpanel" aria-labelledby="nav-release-tab">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="releaseInfoTable" width="100%" cellspacing="0">
                            <tr>
                                <th>Name:</th>
                                <td>{{ chart_name }}</td>
                            </tr>
                            <tr>
                                <th>Namespace:</th>
                                <td>
                                    <form action="/namespaces" method="POST">
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                        <input type="hidden" name="ns_select" value="{{ session['ns_select'] }}" />
                                        <input type="hidden" name="selected" value="{{ session['ns_select'] }}" />
                                        <a href="javascript:;" onclick="parentNode.submit();">{{ session['ns_select'] }}</a>
                                    </form>
                                </td>
                            </tr>
                            <tr>
                                <th>Status:</th>
                                <td>
                                    {% if rd.status == "deployed" %}
                                        <span class="badge badge-tag badge-success">{{ rd.status }}</span>
                                    {% else %}
                                        <span class="badge badge-tag badge-danger">{{ rd.status }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Revision:</th>
                                <td>{{ rd.revision }}</td>
                            </tr>
                            <tr>
                                <th>Chart Version:</th>
                                <td>{{ rd.chart_name }}-{{ rd.chart_version }}</td>
                            </tr>
                            <tr>
                                <th>App Version:</th>
                                <td>{{ rd.app_version }}</td>
                            </tr>
                            <tr>
                                <th>Created:</th>
                                <td>{{ rd.updated }}</td>
                            </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Values -->
            <div class="tab-pane fade" id="nav-values" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div id="accordion">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <h3>Values</h3>
                            
                            <div class="table-responsive">
                                <pre><code>{{ rd["values"] }}</code></pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Manifests -->
            <div class="tab-pane fade" id="nav-manifests" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div id="accordion">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <h3>Manifests</h3>
                            
                            <div class="table-responsive">
                                <pre><code>{{ rd.manifests }}</code></pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- resources -->
            <div class="tab-pane fade" id="nav-resources" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div id="accordion">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <h3>Resources</h3>
                            
                            <div class="table-responsive">
                                <table class="table table-bordered" id="initContainersTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Resource Type</th>
                                            <th>Name</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for deployment in rd.deployments %}
                                        <tr>
                                            <td>Deployment</td>
                                            <td>
                                                <form action="/deployments" method="POST">
                                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                                    <input type="hidden" name="ns_select" value="{{ session['ns_select'] }}" />
                                                    <input type="hidden" name="selected" value="{{ deployment }}" />
                                                    <a href="javascript:;" onclick="parentNode.submit();">{{ deployment }}</a>
                                                </form>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        {% for daemonset in rd.daemonset %}
                                        <tr>
                                            <td>Daemonset</td>
                                            <td>
                                                <form action="/daemonsets" method="POST">
                                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                                    <input type="hidden" name="ns_select" value="{{ session['ns_select'] }}" />
                                                    <input type="hidden" name="selected" value="{{ daemonset }}" />
                                                    <a href="javascript:;" onclick="parentNode.submit();">{{ daemonset }}</a>
                                                </form>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        {% for ss in rd.statefulsets %}
                                        <tr>
                                            <td>Stateful Set</td>
                                            <td>
                                                <form action="/statefulsets" method="POST">
                                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                                    <input type="hidden" name="ns_select" value="{{ session['ns_select'] }}" />
                                                    <input type="hidden" name="selected" value="{{ ss }}" />
                                                    <a href="javascript:;" onclick="parentNode.submit();">{{ ss }}</a>
                                                </form>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        {% for service in rd.services %}
                                        <tr>
                                            <td>Service</td>
                                            <td>
                                                <form action="/services" method="POST">
                                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                                    <input type="hidden" name="ns_select" value="{{ session['ns_select'] }}" />
                                                    <input type="hidden" name="selected" value="{{ service }}" />
                                                    <a href="javascript:;" onclick="parentNode.submit();">{{ service }}</a>
                                                </form>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        {% for ingress in rd.ingresses %}
                                        <tr>
                                            <td>Ingress</td>
                                            <td>
                                                <form action="/ingress" method="POST">
                                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                                    <input type="hidden" name="ns_select" value="{{ session['ns_select'] }}" />
                                                    <input type="hidden" name="selected" value="{{ ingress }}" />
                                                    <a href="javascript:;" onclick="parentNode.submit();">{{ ingress }}</a>
                                                </form>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        {% for sa in rd.service_accounts %}
                                        <tr>
                                            <td>Aervice Account</td>
                                            <td>
                                                <form action="/service-accounts" method="POST">
                                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                                    <input type="hidden" name="ns_select" value="{{ session['ns_select'] }}" />
                                                    <input type="hidden" name="selected" value="{{ sa }}" />
                                                    <a href="javascript:;" onclick="parentNode.submit();">{{ sa }}</a>
                                                </form>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        {% for secret in rd.secrets %}
                                        <tr>
                                            <td>Secret</td>
                                            <td>
                                                <form action="/secrets" method="POST">
                                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                                    <input type="hidden" name="ns_select" value="{{ session['ns_select'] }}" />
                                                    <input type="hidden" name="selected" value="{{ secret }}" />
                                                    <a href="javascript:;" onclick="parentNode.submit();">{{ secret }}</a>
                                                </form>
                                            </tr>
                                        </tr>
                                        {% endfor %}
                                        {% for configmap in rd.configmaps %}
                                        <tr>
                                            <td>Configmap</td>
                                            <td>
                                                <form action="/configmaps" method="POST">
                                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                                    <input type="hidden" name="ns_select" value="{{ session['ns_select'] }}" />
                                                    <input type="hidden" name="selected" value="{{ configmap }}" />
                                                    <a href="javascript:;" onclick="parentNode.submit();">{{ configmap }}</a>
                                                </form>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        {% for pvc in rd.persistent_volume_claims %}
                                        <tr>
                                            <td>Persistent Volume Claim</td>
                                            <td>
                                                <form action="/pvc" method="POST">
                                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                                    <input type="hidden" name="ns_select" value="{{ session['ns_select'] }}" />
                                                    <input type="hidden" name="selected" value="{{ pvc }}" />
                                                    <a href="javascript:;" onclick="parentNode.submit();">{{ pvc }}</a>
                                                </form>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- dependencies -->
            {#
            {% if rd.dependencies %}
            <div class="tab-pane fade" id="nav-dependencies" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div id="accordion">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <h3>Dependencies</h3>
                            
                            <div class="table-responsive">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            #}
        </div>
        <!-- End Of Chart releases loop -->
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block scripts %}

    <!-- Page level plugins -->
    <script src="{{ url_for('static',filename='vendor/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

    <!-- Page level custom scripts -->
    <script src="{{ url_for('static',filename='js/demo/datatables-demo.js') }}"></script>
{% endblock %}