{% extends "base.html.j2" %}

{% block header %}
    <link href="{{ url_for('static',filename='/vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet" >
    <link href="{{ url_for('static',filename='/vendor/google/material-icons.css') }}" rel="stylesheet" >
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Charts</li>
    <div class="col">
      <a class="card-link float-right" data-toggle="collapse" href="#" onclick="reload()">
        <i class="material-icons">refresh</i>
      </a>
    </div>
  </ol>
</nav>

<div class="card shadow mb-4">
  <div class="card-header">
    <h6 class="m-0 font-weight-bold text-primary">Helm Charts</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Icon</th>
            <th>Release</th>
            <th>Status</th>
            <th>Chart</th>
            <th>App Version</th>
            <th>Revision</th>
            <th>Updated</th>
          </tr>
        </thead>
        {% if has_chart %}
        <tbody>
          {% for name, release in chart_list.items() %}
          {% for rd in release %}
          {% if loop.last %}
          {% if selected == name %}
            <tr class="selected" >
          {% else %}
            <tr>
          {% endif %}
            {% if rd.icon %}
            <td><img src="{{ rd.icon }}" width="50" height="50"> </td>
            {% else %}
            <td><img src="/img/helm-icon-color.svg" width="50" height="50"> </td>
            {% endif %}
            <td>
              <form action="/charts/data" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="hidden" name="ns_select" value="{{ session['ns_select'] }}" />
                <input type="hidden" name="selected" value="{{ name }}" />
                <a href="javascript:;" onclick="parentNode.submit();">{{ name }}</a>
              </form>
            </td>
            <td>
              {% if rd.status == "deployed" %}
                <span class="badge badge-tag badge-success">{{ rd.status }}</span>
              {% else %}
                <span class="badge badge-tag badge-danger">{{ rd.status }}</span>
              {% endif %}
            </td>
            <td>{{ rd.chart_name }}-{{ rd.chart_version }}</td>
            <td>{{ rd.app_version }}</td>
            <td>{{ rd.revision }}</td>
            <td>{{ rd.updated }}</td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </tbody>
        {% else %}
        <tbody>
        </tbody>
        {% endif %}
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
    <!-- Page level plugins -->
    <script src="{{ url_for('static',filename='vendor/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

    <!-- Page level custom scripts -->
    <script src="{{ url_for('static',filename='js/demo/datatables-demo.js') }}"></script>
{% endblock %}