{% extends "base.html" %}

{% block header %}
    <link href="{{ url_for('static',filename='/vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet" >
    <link href="{{ url_for('static',filename='/vendor/google/material-icons.css') }}" rel="stylesheet" >
{% endblock %}

{% block content %}

{% if get_flashed_messages() %}
  {% for category, message in get_flashed_messages(with_categories=true) %}
  <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
{% endif %}

<div class="card shadow mb-4">
  <div class="card-header">
    <h6 class="m-0 font-weight-bold text-primary">Helm Charts</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Icon</th>
            <th>Release</th>
            <th>Status</th>
            <th>Chart</th>
            <th>App Version</th>
            <th>Revision</th>
            <th>Updated</th>
          </tr>
        </thead>
        {% if has_chart %}
        <tbody>
          {% for name, release in chart_list.items() %}
          {% for rd in release %}
          {% if loop.last %}
          <tr>
            {% if rd.icon is not none %}
            <td><img src="{{ rd.icon }}" width="50" height="50"> </td>
            {% else %}
            <td><img src="/img/helm-icon-color.svg" width="50" height="50"> </td>
            {% endif %}
            <td>{{ name }}</td>
            <td>{{ rd.status }}</td>
            <td>{{ rd.chart }}</td>
            <td>{{ rd.appVersion }}</td>
            <td>{{ rd.revision }}</td>
            <td>{{ rd.updated }}</td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </tbody>
        {% else %}
        <tbody>
        </tbody>
        {% endif %}
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
    <!-- Page level plugins -->
    <script src="{{ url_for('static',filename='vendor/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

    <!-- Page level custom scripts -->
    <script src="{{ url_for('static',filename='js/demo/datatables-demo.js') }}"></script>
{% endblock %}