{% extends "base.html.j2" %}

{% block header %}
    <link href="{{ url_for('static',filename='/vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet" >
    <link href="{{ url_for('static',filename='/vendor/google/material-icons.css') }}" rel="stylesheet" >
{% endblock %}

{% block content %}

{% if get_flashed_messages() %}
  {% for category, message in get_flashed_messages(with_categories=true) %}
  <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
{% endif %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">User Management</li>
    <li class="breadcrumb-item"><a href="/cluster-roles">Cluster Roles</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ cr_name }}</li>
    <div class="col">
      <a class="card-link float-right" data-toggle="collapse" href="#" onclick="reload()">
        <i class="material-icons">refresh</i>
      </a>
    </div>
  </ol>
</nav>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Rule List</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>API Groups</th>
                        <th>Non Resources</th>
                        <th>Resources</th>
                        <th>Verbs</th>
                    </tr>
                </thead>
                <tbody>
                {% for cr in cluster_roles %}
                {% if cr_name == cr.name %}
                {% for rules in cr.rules %}
                    <tr>
                        <td>
                            {% if rules.api_groups %}
                            {% for ag in rules.api_groups %}
                                {{ ag }}{% if not loop.last %}<br>{% endif %}
                            {% endfor %}
                            {% else %}
                                {{ rules.api_groups }}
                            {% endif %}
                        </td>
                        <td>
                            {% if rules.resource_names %}
                            {% for rn in rules.resource_names %}
                                {{ rn }}{% if not loop.last %}<br>{% endif %}
                            {% endfor %}
                            {% else %}
                                {{ rules.resource_names }}
                            {% endif %}
                        </td>
                        <td>
                            {% if rules.resources %}
                            {% for r in rules.resources %}
                                {{ r }}{% if not loop.last %}<br>{% endif %}
                            {% endfor %}
                            {% else %}
                                {{ rules.resources }}
                            {% endif %}
                        </td>
                        <td>
                            {% if rules.verbs %}
                            {% for v in rules.verbs %}
                                {{ v }}{% if not loop.last %}<br>{% endif %}
                            {% endfor %}
                            {% else %}
                                {{ rules.verbs }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                {% endif %}
                {% endfor %}  
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
    <!-- Page level plugins -->
    <script src="{{ url_for('static',filename='vendor/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

    <!-- Page level custom scripts -->
    <script src="{{ url_for('static',filename='js/demo/datatables-demo.js') }}"></script>
{% endblock %}
