{% extends "base.html.j2" %}

{% block header %}
    <link href="{{ url_for('static',filename='/vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet" >
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Security</li>
    <li class="breadcrumb-item active" aria-current="page">ClusterRoleBindings</li>
    <div class="col">
      <a class="card-link float-right" data-toggle="collapse" href="#" onclick="reload()">
        <i class="material-icons">refresh</i>
      </a>
    </div>
  </ol>
</nav>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Cluster Role Binding List</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                      <th>Name</th>
                      <th>Role</th>
                      <th>User</th>
                      <th>Group</th>
                      <th>ServiceAccount</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for crb in cluster_role_bindings %}
                      <tr>
                        <td>{{ crb.name }}</td>
                        <td>
                            {% for role_name in crb.role %}
                                <form action="/cluster-roles" method="POST">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                    <input type="hidden" name="cluster_role_select" value="{{ role_name }}" />
                                    <a href="javascript:;" onclick="parentNode.submit();">{{ role_name }}</a>
                                </form>
                                {% if not loop.last %}<br>{% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for user in crb.user %}
                                {{ user }}{% if not loop.last %}<br>{% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for group in crb.group %}
                                {{ group }}
                                {% if not loop.last %}<br>{% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for sa in crb.ServiceAccount %}
                                {% for sa_name, sa_ns in sa.items() %}
                                <form action="/service-accounts" method="POST">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                    <input type="hidden" name="ns_select" value="{{ sa_ns }}" />
                                    <input type="hidden" name="sa_select" value="{{ sa_name }}" />
                                    <a href="javascript:;" onclick="parentNode.submit();">{{ sa_name }}</a>
                                </form>
                                {% if not loop.last %}<br>{% endif %}
                                {% endfor %}
                            {% endfor %}

                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
    <!-- Page level plugins -->
    <script src="{{ url_for('static',filename='vendor/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

    <!-- Page level custom scripts -->
    <script src="{{ url_for('static',filename='js/demo/datatables-demo.js') }}"></script>
{% endblock %}
