<h2 class="text-center my-4" >Welcome {{ preferred_username }}</h2>
<h3 class="text-center my-4" >In order to get command-line acces to the Kubernetes cluster, you need to login with OpenID Connect (OIDC) authentication to this app.</h3>