{% extends "base.html.j2" %}

{% block header %}
    <link href="{{ url_for('static',filename='/vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet" >
    <link href="{{ url_for('static',filename='/vendor/google/material-icons.css') }}" rel="stylesheet" >
{% endblock %}

{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">User Management</li>
    <li class="breadcrumb-item"><a href="/groups">Groups</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ group_name }}</li>
    <div class="col">
      <a class="card-link float-right" data-toggle="collapse" href="#" onclick="reload()">
        <i class="material-icons">refresh</i>
      </a>
    </div>
  </ol>
</nav>

<div class="card shadow mb-4">
    <div class="card-header">
        <h6 class="m-0 font-weight-bold text-primary">Group Data</h6>
    </div>
    <div class="card-body">
        <ul class="nav nav-tabs" id="nav-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="nav-members-tab" data-toggle="tab" href="#nav-members" role="tab" aria-controls="nav-members" aria-selected="true" data-toggle="tab">Members</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="nav-roles-tab" data-toggle="tab" href="#nav-roles" role="tab" aria-controls="nav-roles" aria-selected="false" data-toggle="tab">RoleBindings</a>
            </li>
        </ul>
        <div class="tab-content" id="nav-tabContent">
            <!-- members -->
            <div class="tab-pane fade show active" id="nav-members" role="tabpanel" aria-labelledby="nav-members-tab">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="membersInfoTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Username</th>
                                        <th>Email</th>
                                        <th>Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for member in groupe_member_list %}
                                    <tr>
                                        <th>{{ member.name }}</th>
                                        <th>{{ member.email }}</th>
                                        <th>{{ member.type }}</th>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- roles -->
            <div class="tab-pane fade" id="nav-roles" role="tabpanel" aria-labelledby="av-roles-tab">
                <div id="accordion">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="rolesTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Namespace</th>
                                            <th>Type</th>
                                            <th>Name</th>
                                            <th>ClusterRole</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for role_binding in group_role_binding%}
                                        <tr>
                                            <td>{{ role_binding["namespace"] }}</td>
                                            <td>RoleBinding</td>
                                            <td>
                                                <form action="/role-bindings" method="POST">
                                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                                    <input type="hidden" name="ns_select" value="{{ role_binding['namespace'] }}" />
                                                    <input type="hidden" name="rb_name" value="{{ role_binding['name'] }}" />
                                                    <a href="javascript:;" onclick="parentNode.submit();">{{ role_binding["name"] }}</a>
                                                </form>
                                            </td>
                                            <td>
                                                <form action="/cluster-roles/data" method="POST">
                                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                                    <input type="hidden" name="cr_name" value="{{ role_binding['role'][0]['ClusterRole'] }}" />
                                                    <a href="javascript:;" onclick="parentNode.submit();">{{ role_binding["role"][0]["ClusterRole"] }}</a>
                                                </form>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        {% for cluster_role_binding in group_cluster_role_binding%}
                                        <tr>
                                            <td></td>
                                            <td>ClusterRoleBinding</td>
                                            <td>
                                                <form action="/cluster-role-bindings" method="POST">
                                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                                    <input type="hidden" name="crb_name" value="{{ cluster_role_binding['name'] }}" />
                                                    <a href="javascript:;" onclick="parentNode.submit();">{{ cluster_role_binding["name"] }}</a>
                                                </form>
                                            </td>
                                            <td>
                                                <form action="/cluster-roles/data" method="POST">
                                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                                    <input type="hidden" name="cr_name" value="{{ cluster_role_binding['role'][0]['ClusterRole'] }}" />
                                                    <a href="javascript:;" onclick="parentNode.submit();">{{ cluster_role_binding["role"][0]["ClusterRole"] }}</a>
                                                </form>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END -->
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <!-- Page level plugins -->
    <script src="{{ url_for('static',filename='vendor/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

    <!-- Page level custom scripts -->
    <script src="{{ url_for('static',filename='js/demo/datatables-demo.js') }}"></script>
{% endblock %}