{% extends "base.html.j2" %}

{% block header %}
    <link href="{{ url_for('static',filename='/vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet" >
    <link href="{{ url_for('static',filename='/vendor/google/material-icons.css') }}" rel="stylesheet" >
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Network</li>
    <li class="breadcrumb-item"><a href="/ingress">Ingress</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ i_data.name }}</li>
    <div class="col">
      <a class="card-link float-right" data-toggle="collapse" href="#" onclick="reload()">
        <i class="material-icons">refresh</i>
      </a>
    </div>
  </ol>
</nav>

<div class="card shadow mb-4">
    <div class="card-header">
        <h6 class="m-0 font-weight-bold text-primary">Ingress Data</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="podInfoTable" width="100%" cellspacing="0">
                <tr>
                    <th>Name:</th>
                    <td>{{ i_data.name }}</td>
                </tr>
                <tr>
                    <th>ingressClass:</th>
                    <td>
                        {% if i_data.ingressClass %}
                            <form action="/ingress-class" method="POST">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                <input type="hidden" name="ns_select" value="{{ session['ns_select'] }}" />
                                <input type="hidden" name="selected" value='{{ i_data.ingressClass }}' />
                                <a href="javascript:;" onclick="parentNode.submit();">{{ i_data.ingressClass }}</a>
                            </form>
                        {% else %}
                            {{ i_data.ingressClass }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Created:</th>
                    <td>{{ i_data.created }}</td>
                </tr>
                <tr>
                    <th>Annotations:</th>
                    <td>
                        {% if i_data.annotations %}
                        {% for an_key, an_value in i_data.annotations.items() %}
                        {% if an_key != "kubectl.kubernetes.io/last-applied-configuration" %}
                        <span class="badge badge-secondary">{{ an_key }}: {{ an_value }}</span>
                        {% if not loop.last %}<br>{% endif %}
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Labels:</th>
                    <td>
                        {% if i_data.labels %}
                        {% for an_key, an_value in i_data.labels.items() %}
                        <span class="badge badge-secondary">{{ an_key }}: {{ an_value }}</span>
                        {% if not loop.last %}<br>{% endif %}
                        {% endfor %}
                        {% endif %}
                    </td>
                </tr>

            </table>
        </div>
    </div>
</div>

{% if i_data.rules %}
<div class="card shadow mb-4">
    <div class="card-header">
        <h6 class="m-0 font-weight-bold text-primary">Routs</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="podInfoTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Host</th>
                        <th>Path</th>
                        <th>Type</th>
                        <th>Service</th>
                        <th>Port</th>
                        <th>TLS</th>
                    </tr>
                </thead>
                <tbody>
                {% for rule in i_data.rules %}
                    <tr>
                        <td>{{ i_data.hosts[0] }}</td>
                        <td>{{ rule.path }}</td>
                        <td>{{ rule.path_type }}</td>
                        <td>
                            <form action="/services" method="POST">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                <input type="hidden" name="ns_select" value="{{ session['ns_select'] }}" />
                                <input type="hidden" name="selected" value='{{ rule.backend.service.name }}' />
                                <a href="javascript:;" onclick="parentNode.submit();">{{ rule.backend.service.name }}</a>
                            </form>
                        </td>
                        <td>{{ rule.backend.service.port.number }}</td>
                        {% if i_data.tls[0] %}
                        <td>
                            <form action="/secrets" method="POST">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                <input type="hidden" name="ns_select" value="{{ session['ns_select'] }}" />
                                <input type="hidden" name="selected" value='{{ i_data.tls[0]["secret_name"] }}' />
                                <a href="javascript:;" onclick="parentNode.submit();">{{ i_data.tls[0]["secret_name"] }}</a>
                            </form>
                        </td>
                        {% else %}
                        <td></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}

{% block scripts %}
    <!-- Page level plugins -->
    <script src="{{ url_for('static',filename='vendor/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

    <!-- Page level custom scripts -->
    <script src="{{ url_for('static',filename='js/demo/datatables-demo.js') }}"></script>
{% endblock %}