{% extends "base.html.j2" %}

{% block header %}
    <link href="{{ url_for('static',filename='/vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet" >
    <link href="{{ url_for('static',filename='/vendor/google/material-icons.css') }}" rel="stylesheet" >
{% endblock %}

{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Cluster</li>
    <li class="breadcrumb-item"><a href="/limit_range">Limit Range</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ limit_data.name }}</li>
    <div class="col">
        <a class="card-link float-right pr-1" data-toggle="collapse" href="#" onclick="reload()">
            <i class="material-icons">refresh</i>
        </a>
    </div>
  </ol>
</nav>

<div class="card shadow mb-4">
    <div class="card-header">
        <h6 class="m-0 font-weight-bold text-primary">Limit Range Data</h6>
    </div>
    <div class="card-body">
        <div class="tab-content" id="nav-tabContent">
            <!-- policy -->
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="policyInfoTable" width="100%" cellspacing="0">
                                <tr>
                                    <th>Name:</th>
                                    <td>{{ limit_data.name }}</td>
                                </tr>
                                <tr>
                                    <th>Namespace:</th>
                                    <td>{{ limit_data.namespace }}</td>
                                </tr>
                                <tr>
                                    <th>Creation:</th>
                                    <td>{{ limit_data.creation_timestamp }}</td>
                                </tr>
                                <tr>
                                    <th>Annotations:</th>
                                    <td>
                                        {% if limit_data.annotations %}
                                        {% for an_key, an_value in limit_data.annotations.items() %}
                                        {% if an_key != "kubectl.kubernetes.io/last-applied-configuration" %}
                                        {% if an_key != "autoscaling.alpha.kubernetes.io/conditions" %}
                                        <span class="badge badge-tag badge-secondary">{{ an_key }}: {{ an_value }}</span>
                                        {% if not loop.last %}<br>{% endif %}
                                        {% endif %}
                                        {% endif %}
                                        {% endfor %}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>Labels:</th>
                                    <td>
                                        {% if limit_data.labels %}
                                        {% for an_key, an_value in limit_data.labels.items() %}
                                        {% if an_key != "kubectl.kubernetes.io/last-applied-configuration" %}
                                        <span class="badge badge-tag badge-secondary">{{ an_key }}: {{ an_value }}</span>
                                        {% if not loop.last %}<br>{% endif %}
                                        {% endif %}
                                        {% endfor %}
                                        {% endif %}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header">
        <h6 class="m-0 font-weight-bold text-primary">Container Limits:</h6>
    </div>
    <div class="card-body">
        <div class="tab-content" id="nav-tabContent">
            <!-- policy -->
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="policyInfoTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Resource</th>
                                        <th>Minimum</th>
                                        <th>Maximum</th>
                                        <th>Default Limit</th>
                                        <th>Default Request</th>
                                        <th>Minimum Limit Request Ratio</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if limit_data.limits %}
                                    {% for item in limit_data.limits %}
                                    <tr>
                                        <td>cpu</td>
                                        <td>{% if item.min.cpu %}{{ item.min.cpu }}{% else %}None{% endif %}</td>
                                        <td>{% if item.max.cpu %}{{ item.max.cpu }}{% else %}None{% endif %}</td>
                                        <td>{% if item.default.cpu %}{{ item.default.cpu }}{% else %}None{% endif %}</td>
                                        <td>{% if item.default_request.cpu %}{{ item.default_request.cpu }}{% else %}None{% endif %}</td>
                                        <td>{% if item.max_limit_request_ratio.cpu %}{{ item.max_limit_request_ratio.cpu }}{% else %}None{% endif %}</td>
                                    </tr>
                                    <tr>
                                        <td>memory</td>
                                        <td>{% if item.min.memory %}{{ item.min.memory }}{% else %}None{% endif %}</td>
                                        <td>{% if item.max.memory %}{{ item.max.memory }}{% else %}None{% endif %}</td>
                                        <td>{% if item.default.memory %}{{ item.default.memory }}{% else %}None{% endif %}</td>
                                        <td>{% if item.default_request.memory %}{{ item.default_request.memory }}{% else %}None{% endif %}</td>
                                        <td>{% if item.max_limit_request_ratio.memory %}{{ item.max_limit_request_ratio.memory }}{% else %}None{% endif %}</td>
                                    </tr>
                                    {% endfor %}
                                    {% else %}
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}

    <!-- Page level plugins -->
    <script src="{{ url_for('static',filename='vendor/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

    <!-- Page level custom scripts -->
    <script src="{{ url_for('static',filename='js/demo/datatables-demo.js') }}"></script>
{% endblock %}