{% extends "base.html.j2" %}

{% block header %}
    <link href="{{ url_for('static',filename='/vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet" >
    <link href="{{ url_for('static',filename='/vendor/google/material-icons.css') }}" rel="stylesheet" >
{% endblock %}

{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Cluster</li>
    <li class="breadcrumb-item" aria-current="page"><a href="/namespaces">Namespaces</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ ns_data.name }}</li>
    <div class="col">
      <a class="card-link float-right" data-toggle="collapse" href="#" onclick="reload()">
        <i class="material-icons">refresh</i>
      </a>
    </div>
  </ol>
</nav>

<div class="card shadow mb-4">
    <div class="card-header">
        <h6 class="m-0 font-weight-bold text-primary">Node Data</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            {{ ns_data.name }}
            <table class="table table-bordered" id="podInfoTable" width="100%" cellspacing="0">
                <tr>
                    <th>Status:</th>
                    <td>
                        {% if ns_data.status == "Active" %}
                            <span class="badge badge-tag badge-success">{{ ns_data.status }}</span>
                        {% else %}
                            <span class="badge badge-tag badge-danger">{{ ns_data.status }}</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Name:</th>
                    <td>{{ ns_data.name }}</td>
                </tr>
                <tr>
                    <th>Created:</th>
                    <td>{{ ns_data.created }}</td>
                </tr>
                <tr>
                    <th>Annotations:</th>
                    <td>
                        {% if ns_data.annotations %}
                        <table class="table table-bordered" id="annotationTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th width="50%">Key</th>
                                    <th width="50%">Value</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for key, value in ns_data.annotations.items() %}
                                <tr>
                                {% if key != "kubectl.kubernetes.io/last-applied-configuration" %}
                                    <td width="50%">{{ key }}</td>
                                    <td width="50%">{{ value }}</td>
                                {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Lables:</th>
                    <td>
                        {% if ns_data.labels %}
                        <table class="table table-bordered" id="labelsTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th width="50%">Key</th>
                                    <th width="50%">Value</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for key, value in ns_data.labels.items() %}
                                <tr>
                                    <td width="50%">{{ key }}</td>
                                    <td width="50%">{{ value }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div> 
    </div>
</div>

{% endblock %}

{% block scripts %}
    <!-- Page level plugins -->
    <script src="{{ url_for('static',filename='vendor/chart.js/Chart.min.js') }}"></script>

    <!-- Page level plugins -->
    <script src="{{ url_for('static',filename='vendor/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

    <!-- Page level custom scripts -->
    <script src="{{ url_for('static',filename='js/demo/datatables-demo.js') }}"></script>
{% endblock %}