{% extends "base.html.j2" %}

{% block header %}
    <link href="{{ url_for('static',filename='/vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet" >
    <link href="{{ url_for('static',filename='/vendor/google/material-icons.css') }}" rel="stylesheet" >
{% endblock %}

{% block content %}
<!-- Page Heading -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Cluster</li>
    <li class="breadcrumb-item active" aria-current="page">Namespaces</li>
    <div class="col">
      <a class="card-link float-right" data-toggle="collapse" href="#" onclick="reload()">
        <i class="material-icons">refresh</i>
      </a>
      <!-- Button trigger modal add -->
      {% if session['user_role'] == "Admin" %}
      <a data-toggle="#modaladd" data-toggle="modal" class="float-right" id="modaladdNav" href="#" onclick='$("#modaladd").modal()'>
        <i class="material-icons">add</i>
      </a>
      {% endif %}
    </div>
  </ol>
  <!-- Modal Add User -->
  <div class="modal fade" id="modaladd" tabindex="-1" role="dialog" aria-labelledby="modaladdLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modaladdLabel">New</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/namespaces/create" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="form-group">
              <label>Namespace:</label>
              <input class="form-control user" name="namespace" type="text" placeholder="Type your username">
            </div>
            <div class="modal-footer">
              <div class="form-group mt-2">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" >Add Namespace</button>
              </div>
            </div>
          </form>
        </div>
    </div>
  </div>
  <!-- Modal Add User -->
</nav>



<!-- DataTales -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Namespace List</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>Namespace</th>
                        <th>Lables</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Status</th>
                        <th>Namespace</th>
                        <th>Lables</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for ns in namespace_list %}
                    <tr>
                      <td>
                      {% if ns.status == "Active" %}
                        <span class="badge badge-success">{{ ns.status }}</span>
                      {% else %}
                        <span class="badge badge-danger">{{ ns.status }}</span>
                      {% endif %}
                      </td>
                      <td>{{ ns.name }}</td>
                      <td>
                      {% for label in ns.labels %} 
                          <span class="badge badge-secondary">{{ label }}</span>
                          {% if not loop.last %}<br>{% endif %}
                      {% endfor %}
                      <td>
                        {% if session['user_role'] == "Admin" %}
                        <!-- Button trigger modal -->
                        <form action="/namespaces/delete" method="post">
                          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                          <button type="button" class="btn btn-success btn-just-icon btn-xs" data-toggle="modal" data-bs-target="#modaledit" data-ns="{{ ns.name }}">
                              <i class="material-icons">edit</i>
                          </button>
                          <input type="hidden"  name="namespace" value="{{ ns.name }}"/>
                          <button type="submit" rel="tooltip" class="btn btn-danger btn-just-icon btn-sm" value="upvote">
                              <i class="material-icons">delete</i>
                          </button>
                        </form>  
                        {% endif %}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
    <!-- Page level plugins -->
    <script src="{{ url_for('static',filename='vendor/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

    <!-- Page level custom scripts -->
    <script src="{{ url_for('static',filename='js/demo/datatables-demo.js') }}"></script>
{% endblock %}