{% extends "base.html.j2" %}

{% block header %}
    <link href="{{ url_for('static',filename='/vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet" >
    <link href="{{ url_for('static',filename='/vendor/datatables/jquery.dataTables.css') }}" rel="stylesheet" >
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Cluster</li>
    <li class="breadcrumb-item active" aria-current="page">Nodes</li>
    <div class="col">
      <a class="card-link float-right" data-toggle="collapse" href="#" onclick="reload()">
        <i class="material-icons">refresh</i>
      </a>
    </div>
  </ol>
</nav>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Node List</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                      <th>State</th>
                      <th>Name</th>
                      <th>Role</th>
                      <th>Version</th>
                      <th>Runetime</th>
                      <th>OS</th>
                      <th>Taints</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for no in nodes %}
                    {% if selected == no.name %} 
                      <tr class="selected" >
                    {% else %}
                      <tr>
                    {% endif %}
                        <td>
                    {% if no.status == "Ready" %}
                          <span class="badge badge-success">{{ no.status }}</span>
                    {% else %}
                          <span class="badge badge-danger"></span>{{ no.status }}</span>
                    {% endif %}
                        </td>
                        <td>{{ no.name }}</td>
                        <td>{{ no.role }}</td>
                        <td>{{ no.version }}</td>
                        <td>{{ no.runtime }}</td>
                        <td>{{ no.os }}</td>
                        <td>
                          {% for taint in no.taint %}
                          <span class="badge badge-secondary">{{ taint }}</span>
                          {% if not loop.last %}<br>{% endif %}
                          {% endfor %}
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
    <!-- Page level plugins -->
    <script src="{{ url_for('static',filename='vendor/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

    <!-- Page level custom scripts -->
    <script src="{{ url_for('static',filename='js/demo/datatables-demo.js') }}"></script>
{% endblock %}