{% extends "base.html.j2" %}

{% block header %}
    <link href="{{ url_for('static',filename='/vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet" >
    <link href="{{ url_for('static',filename='/vendor/datatables/jquery.dataTables.css') }}" rel="stylesheet" >
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Storage</li>
    <li class="breadcrumb-item active" aria-current="page">Persistent Volume Claims</li>
    <div class="col">
      <a class="card-link float-right" data-toggle="collapse" href="#" onclick="reload()">
        <i class="material-icons">refresh</i>
      </a>
    </div>
  </ol>
</nav>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Persistent Volume Claim List</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                      <th>Status</th>
                      <th>Name</th>
                      <th>StorageClass</th>
                      <th>Volume</th>
                      <th>Capacity</th>
                      <th>Usage</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for pvc in pvc_list %}
                    {% if pvc_select == pvc.name %}
                      <tr class="selected" >
                    {% else %}
                      <tr>
                    {% endif %}
                        <td>{{ pvc.status }}</td>
                        <td>
                          <form action="/pvc/data" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="hidden" name="ns_name" value="{{ session['ns_select'] }}" />
                            <input type="hidden" name="pvc_name" value="{{ pvc.name }}" />
                            <a href="javascript:;" onclick="parentNode.submit();">{{ pvc.name }}</a>
                          </form>
                        </td>
                        <td>
                          <form action="/storage-class" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="hidden" name="ns_name" value="{{ session['ns_select'] }}" />
                            <input type="hidden" name="sc_select" value="{{ pvc.storage_class_name }}" />
                            <a href="javascript:;" onclick="parentNode.submit();">{{ pvc.storage_class_name }}</a>
                          </form>
                        </td>
                        <td>
                          <form action="/pv" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="hidden" name="ns_name" value="{{ session['ns_select'] }}" />
                            <input type="hidden" name="pv_name" value="{{ pvc.volume_name }}" />
                            <a href="javascript:;" onclick="parentNode.submit();">{{ pvc.volume_name }}</a>
                          </form>
                        </td>
                        <td>{{ pvc.capacity }}</td>
                        <td>
                          {% for metric in pvc_metrics %}
                          {% if metric.name == pvc.name %}
                          {{ metric.percentageUsed|round(1) }} %
                          {% endif %}
                          {% endfor %}
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
    <!-- Page level plugins -->
    <script src="{{ url_for('static',filename='vendor/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

    <!-- Page level custom scripts -->
    <script src="{{ url_for('static',filename='js/demo/datatables-demo.js') }}"></script>
{% endblock %}
