{% extends "base.html.j2" %}

{% block header %}
    <link href="{{ url_for('static',filename='/vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet" >
    <link href="{{ url_for('static',filename='/vendor/datatables/jquery.dataTables.css') }}" rel="stylesheet" >
    <link href="{{ url_for('static',filename='/css/sb-admin-2.custom.css') }}" rel="stylesheet" >
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Cluster</li>
    <li class="breadcrumb-item active" aria-current="page">Resource Quota</li>
    <div class="col">
      <a class="card-link float-right" data-toggle="collapse" href="#" onclick="reload()">
        <i class="material-icons">refresh</i>
      </a>
    </div>
  </ol>
</nav>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Resource Quota List</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                      <th>Name</th>
                      <th>Namespace</th>
                      <th>Request</th>
                      <th>Limit</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for quota in quotas %}
                    {% if selected == quota.name %} 
                      <tr class="selected" >
                    {% else %}
                      <tr>
                    {% endif %}
                        <td>
                          <form action="/resource_quota/data" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="hidden" name="quota_name" value="{{ quota.name }}" />
                            <a href="javascript:;" onclick="parentNode.submit();">{{ quota.name }}</a>
                          </form>
                        </td>
                        <td>{{ quota.namespace }}</td>
                        <td>
                            <span class="badge badge-tag badge-secondary">requests.cpu: {{ quota.status.used["requests.cpu"] }} / {{ quota.status.hard["requests.cpu"] }}</span><br>
                            <span class="badge badge-tag badge-secondary">requests.memory: {{ quota.status.used["requests.memory"] }} / {{ quota.status.hard["requests.memory"] }}</span><br>
                        </td>
                        <td>
                          <span class="badge badge-tag badge-secondary">limits.cpu: {{ quota.status.used["limits.cpu"] }} / {{ quota.status.hard["limits.cpu"] }}</span><br>
                          <span class="badge badge-tag badge-secondary">limits.memory: {{ quota.status.used["limits.memory"] }} / {{ quota.status.hard["limits.memory"] }}</span><br>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
    <!-- Page level plugins -->
    <script src="{{ url_for('static',filename='vendor/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

    <!-- Page level custom scripts -->
    <script src="{{ url_for('static',filename='js/demo/datatables-demo.js') }}"></script>
{% endblock %}