{% extends "base.html.j2" %}

{% block header %}
    <link href="{{ url_for('static',filename='/vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet" >
    <link href="{{ url_for('static',filename='/vendor/datatables/jquery.dataTables.css') }}" rel="stylesheet" >
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Security</li>
    <li class="breadcrumb-item active" aria-current="page">Roles</li>
    <div class="col">
      <a class="card-link float-right" data-toggle="collapse" href="#" onclick="reload()">
        <i class="material-icons">refresh</i>
      </a>
    </div>
  </ol>
</nav>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Roles List</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                      <th>Name</th>
                      <th>Labels</th>
                      <th>Annotations</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for r in roles %}
                    {% if role_select == r.name %}
                      <tr class="selected" >
                    {% else %}
                      <tr>
                    {% endif %}
                        <td>
                          <form action="/roles/data" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="hidden" name="ns_select" value="{{ session['ns_select'] }}" />
                            <input type="hidden" name="r_name" value="{{ r.name }}" />
                            <a href="javascript:;" onclick="parentNode.submit();">{{ r.name }}</a>
                          </form>
                        </td>
                        <td>
                          {% if r.labels %}
                          {% for lb_key, lb_value in r.labels.items() %}
                          <span style="font-size: 85%" class="badge badge-secondary">{{ lb_key }}: {{ lb_value }}</span>
                          {% if not loop.last %}<br>{% endif %}
                          {% endfor %}
                          {% endif %}
                        </td>
                        <td>
                          {% if r.annotations %}
                          {% for an_key, an_value in r.annotations.items() %}
                          {% if an_key != "kubectl.kubernetes.io/last-applied-configuration" %}
                          <span style="font-size: 85%" class="badge badge-secondary">{{ an_key }}: {{ an_value }}</span>
                          {% if not loop.last %}<br>{% endif %}
                          {% endif %}
                          {% endfor %}
                          {% endif %}
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
    <!-- Page level plugins -->
    <script src="{{ url_for('static',filename='vendor/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

    <!-- Page level custom scripts -->
    <script src="{{ url_for('static',filename='js/demo/datatables-demo.js') }}"></script>
{% endblock %}
