{% extends "base.html" %}

{% block header %}
    <link href="{{ url_for('static',filename='/vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet" >
{% endblock %}

{% block content %}
{% if get_flashed_messages() %}
{% for category, message in get_flashed_messages(with_categories=true) %}
<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
  {{ message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}
{% endif %}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Role Bindings List</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                      <th>Name</th>
                      <th>Role</th>
                      <th>User</th>
                      <th>Group</th>
                      <th>ServiceAccount</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for rb in role_bindings %}
                      <tr>
                        <td>{{ rb.name }}</td>
                        <td>
                            {% for rbr in rb.role %}
                              {% for rbr_type, rbr_name in rbr.items() %}
                                {% if rbr_type == "Role" %}
                                  <form action="/roles" method="POST">
                                      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                      <input type="hidden" name="ns_select" value="{{ session['ns_select'] }}" />
                                      <input type="hidden" name="role_select" value="{{ rbr_name }}" />
                                      <a href="javascript:;" onclick="parentNode.submit();">{{ rbr_name }}</a>
                                  </form>
                                {% elif rbr_type == "ClusterRole" %}
                                  <form action="/cluster-roles" method="POST">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                    <input type="hidden" name="cluster_role_select" value="{{ rbr_name }}" />
                                    <a href="javascript:;" onclick="parentNode.submit();">{{ rbr_name }}</a>
                                  </form>
                                {% else %}
                                  {{ rbr_name }}
                                {% endif %}
                                {% if not loop.last %}<br>{% endif %}
                                {% endfor %}
                            {% endfor %}
                        </td>
                        <td>
                          {% for rbu in rb.user %}
                              {{ rbu }}{% if not loop.last %}<br>{% endif %}
                          {% endfor %}
                        </td>
                        <td>
                          {% for rbg in rb.group %}
                            {{ rbg }}{% if not loop.last %}<br>{% endif %}
                          {% endfor %}
                        </td>
                        <td>
                          {% for rbsa in rb.ServiceAccount %}
                            {% for rbsa_name, rbsa_ns in rbsa.items()  %}
                              <form action="/service-accounts" method="POST">
                                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                  <input type="hidden" name="ns_select" value="{{ rbsa_ns }}" />
                                  <input type="hidden" name="sa_select" value="{{ rbsa_name }}" />
                                  <a href="javascript:;" onclick="parentNode.submit();">{{ rbsa_name }}</a>
                              </form>
                              {% if not loop.last %}<br>{% endif %}
                            {% endfor %}
                          {% endfor %}
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
    <!-- Page level plugins -->
    <script src="{{ url_for('static',filename='vendor/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

    <!-- Page level custom scripts -->
    <script src="{{ url_for('static',filename='js/demo/datatables-demo.js') }}"></script>
{% endblock %}
