{% extends "base.html.j2" %}

{% block header %}
    <link href="{{ url_for('static',filename='/vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet" >
    <link href="{{ url_for('static',filename='/vendor/google/material-icons.css') }}" rel="stylesheet" >
    <link href="{{ url_for('static',filename='/css/sb-admin-2.custom.css') }}" rel="stylesheet" >
{% endblock %}

{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Security</li>
    <li class="breadcrumb-item"><a href="/secrets">Secets</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ secret_data.name }}</li>
    <div class="col">
      <a class="card-link float-right" data-toggle="collapse" href="#" onclick="reload()">
        <i class="material-icons">refresh</i>
      </a>
    </div>
  </ol>
</nav>

<div class="card shadow mb-4">
    <div class="card-header">
        <h6 class="m-0 font-weight-bold text-primary">Secret Data</h6>
    </div>
    <div class="card-body">
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="podInfoTable" width="100%" cellspacing="0">
                    <tr>
                        <th>Name:</th>
                        <td>{{ secret_data.name }}</td>
                    </tr>
                    <tr>
                        <th>Namespace:</th>
                        <td>{{ namespace }}</td>
                    </tr>
                    <tr>
                        <th>Kind:</th>
                        <td>Secret</td>
                    </tr>
                    <tr>
                        <th>Created:</th>
                        <td>{{ secret_data.created }}</td>
                    </tr>
                    <tr>
                        <th>Annotations:</th>
                        <td>
                            {% if secret_data.annotations %}
                            {% for an_key, an_value in secret_data.annotations.items() %}
                            {% if an_key != "kubectl.kubernetes.io/last-applied-configuration" %}
                            <span class="badge badge-secondary">{{ an_key }}: {{ an_value }}</span>
                            {% if not loop.last %}<br>{% endif %}
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>Labels:</th>
                        <td>
                            {% if secret_data.labels %}
                            {% for an_key, an_value in secret_data.labels.items() %}
                            {% if an_key != "kubectl.kubernetes.io/last-applied-configuration" %}
                            <span class="badge badge-secondary">{{ an_key }}: {{ an_value }}</span>
                            {% if not loop.last %}<br>{% endif %}
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>Type:</th>
                        <td>{{ secret_data.type }}</td>
                    </tr>
                    <tr>
                        <th>Version:</th>
                        <td>{{ secret_data.version }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    {% if secret_data.data %}
        <div class="card-body">
            <div class="card shadow mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="podInfoTable" width="100%" cellspacing="0">
                            {% for da_key, da_value in secret_data.data.items() %}
                            <tr>
                                <th>{{ da_key }}:</th>
                                <td>
                                    <button type="button" class="btn btn-just-icon btn-xs" onclick='showSecret("{{ da_key }}")'>
                                        <i id="{{ da_key }}_icon" class="material-icons">visibility_off</i> 
                                    </button>
                                </td>
                                <td>
                                    <p id="{{ da_key }}" class="textshadow">
                                    {% autoescape false %}
                                    {{ da_value| j2_b64decode }}
                                    {% endautoescape %}
                                    </p>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block scripts %}

    <script>
        function showSecret(element) {
            var x = document.getElementById(element);
            if (x.classList.contains('textshadow')) {
                x.classList.remove("textshadow");
            } else {
                x.classList.add("textshadow");
            }
            var y = document.getElementById(element+"_icon");
            if (y.innerHTML === "visibility_off" ) {
                y.innerHTML = "visibility"
            } else {
                y.innerHTML = "visibility_off"
            }
        };
    </script>

    <!-- Page level plugins -->
    <script src="{{ url_for('static',filename='vendor/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

    <!-- Page level custom scripts -->
    <script src="{{ url_for('static',filename='js/demo/datatables-demo.js') }}"></script>
{% endblock %}