{% extends "base.html.j2" %}

{% block header %}
    <link href="{{ url_for('static',filename='/vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet" >
    <link href="{{ url_for('static',filename='/vendor/google/material-icons.css') }}" rel="stylesheet" >
    <link rel="stylesheet" href="{{ url_for('static',filename='/vendor/highlightjs/an-old-hope.min.css') }}">
    <script src="{{ url_for('static',filename='/vendor/highlightjs/highlight.min.js') }}"></script>
    <script>hljs.highlightAll();</script>
{% endblock %}

{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Storage</li>
    <li class="breadcrumb-item"><a href="/configmaps">Snapshot Class</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ sc_data.name }}</li>
    <div class="col">
      <a class="card-link float-right" data-toggle="collapse" href="#" onclick="reload()">
        <i class="material-icons">refresh</i>
      </a>
    </div>
  </ol>
</nav>

<div class="card shadow mb-4">
    <div class="card-header">
        <h6 class="m-0 font-weight-bold text-primary">Snapshot Class Data</h6>
    </div>
    <div class="card-body">
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="podInfoTable" width="100%" cellspacing="0">
                        <tr>
                            <th>Name:</th>
                            <td>{{ sc_data.name }}</td>
                        </tr>
                        <tr>
                            <th>Created:</th>
                            <td>{{ sc_data.created }}</td>
                        </tr>
                        <tr>
                            <th>Annotations:</th>
                            <td>
                                {% if sc_data.annotations %}
                                <table class="table table-bordered" id="annotationTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th width="50%">Key</th>
                                            <th width="50%">Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for key, value in sc_data.annotations.items() %}
                                        <tr>
                                        {% if key != "kubectl.kubernetes.io/last-applied-configuration" %}
                                            <td width="50%">{{ key }}</td>
                                            <td width="50%">{{ value }}</td>
                                        {% endif %}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Lables:</th>
                            <td>
                                {% if sc_data.labels %}
                                <table class="table table-bordered" id="labelsTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th width="50%">Key</th>
                                            <th width="50%">Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for key, value in sc_data.labels.items() %}
                                        <tr>
                                            <td width="50%">{{ key }}</td>
                                            <td width="50%">{{ value }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Deletion Policy:</th>
                            <td>{{ sc_data.deletion_policy }}</td>
                        </tr>
                        <tr>
                            <th>Driver:</th>
                            <td>{{ sc_data.driver }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        {% if sc_data.parameters %}
        <div class="card-body">
            <div class="card shadow mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="podInfoTable" width="100%" cellspacing="0">
                            {% for da_key, da_value in sc_data.parameters.items() %}
                            <tr>
                                <th>{{ da_key }}:</th>
                                <td>{{ da_value }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block scripts %}

    <!-- Page level plugins -->
    <script src="{{ url_for('static',filename='vendor/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

    <!-- Page level custom scripts -->
    <script src="{{ url_for('static',filename='js/demo/datatables-demo.js') }}"></script>
{% endblock %}