{% extends "base.html.j2" %}

{% block header %}
    <link href="{{ url_for('static',filename='/vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet" >
    <link href="{{ url_for('static',filename='/vendor/google/material-icons.css') }}" rel="stylesheet" >
{% endblock %}

{% block content %}
{% if scale %}
<div class="alert alert-{{status_type}} alert-dismissible fade show" role="alert">
    {{ status_message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
{% endif %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Workloads</li>
    <li class="breadcrumb-item"><a href="/statefulsets">Statefulsets</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ statefulset_data.name }}</li>
    <div class="col">
        <a class="card-link float-right pr-1" data-toggle="collapse" href="#" onclick="reload()">
            <i class="material-icons">refresh</i>
        </a>
    </div>
  </ol>
</nav>

<div class="card shadow mb-4">
    <div class="card-header">
        <h6 class="m-0 font-weight-bold text-primary">Deployment Data</h6>
    </div>
    <div class="card-body">
        <ul class="nav nav-tabs" id="nav-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="nav-deploy-tab" data-toggle="tab" href="#nav-deploy" role="tab" aria-controls="nav-deploy" aria-selected="true" data-toggle="tab">Deployment</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="nav-containers-tab" data-toggle="tab" href="#nav-containers" role="tab" aria-controls="nav-containers" aria-selected="false" data-toggle="tab">Containers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="nav-variables-tab" data-toggle="tab" href="#nav-variables" role="tab" aria-controls="nav-variables" aria-selected="false" data-toggle="tab">Variables</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="nav-security-tab" data-toggle="tab" href="#nav-security" role="tab" aria-controls="nav-security" aria-selected="false" data-toggle="tab">Security Contexts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="nav-resources-tab" data-toggle="tab" href="#nav-resources" role="tab" aria-controls="nav-resources" aria-selected="false" data-toggle="tab">Related Resources</a>
            </li>
        </ul>
        <div class="tab-content" id="nav-tabContent">
            <!-- deploy -->
            <div class="tab-pane fade show active" id="nav-deploy" role="tabpanel" aria-labelledby="nav-deploy-tab">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="deployInfoTable" width="100%" cellspacing="0">
                                <tr>
                                    <th>Namespace:</th>
                                    <td>{{ statefulset_data.namespace }}</td>
                                </tr>
                                <tr>
                                    <th>Name:</th>
                                    <td>{{ statefulset_data.name }}</td>
                                </tr>
                                <tr>
                                    <th>Created:</th>
                                    <td>{{ statefulset_data.created }}</td>
                                </tr>
                                <tr>
                                    <th>Replicas:</th>
                                {% if session['user_role'] == "Admin" %}
                                    <td>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                              <button id="ctrl__button--decrement" class="btn btn-outline-danger" type="button">-</button>
                                            </div>
                                            <input type="text" class="spinner" id="spinner" readonly="readonly"
                                                value="{{ statefulset_data.replicas }}"  k8s_type="statefulsets" 
                                                csrf_token="{{ csrf_token() }}" selected="{{ statefulset_data.name }}"
                                                namespace="{{ statefulset_data.namespace }}">
                                            <div class="input-group-append">
                                                <button id="ctrl__button--increment" class="btn btn-outline-success" type="button">+</button>
                                              </div>
                                          </div>
                                    </td>
                                {% else %}
                                    <td>{{ statefulset_data.replicas }}</td>
                                {% endif %}
                                </tr>
                                <tr>
                                    <th>Annotations:</th>
                                    <td>
                                        {% if statefulset_data.annotations %}
                                        <table class="table table-bordered" id="annotationTable" width="100%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th width="50%">Key</th>
                                                    <th width="50%">Value</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for key, value in statefulset_data.annotations.items() %}
                                                <tr>
                                                {% if key != "kubectl.kubernetes.io/last-applied-configuration" %}
                                                    <td width="50%">{{ key }}</td>
                                                    <td width="50%">{{ value }}</td>
                                                {% endif %}
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                        {% endif %}
                                    </td>
                                </tr>
                               <tr>
                                    <th>Lables:</th>
                                    <td>
                                        {% if statefulset_data.labels %}
                                        <table class="table table-bordered" id="labelsTable" width="100%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th width="50%">Key</th>
                                                    <th width="50%">Value</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for key, value in statefulset_data.labels.items() %}
                                                <tr>
                                                    <td width="50%">{{ key }}</td>
                                                    <td width="50%">{{ value }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>Selectors:</th>
                                    <td>
                                        {% if statefulset_data.selectors %}
                                        <table class="table table-bordered" id="selectorsTable" width="100%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th width="50%">Key</th>
                                                    <th width="50%">Value</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for key, value in statefulset_data.selectors.items() %}
                                                <tr>
                                                    <td width="50%">{{ key }}</td>
                                                    <td width="50%">{{ value }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                        {% endif %}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- containers -->
            <div class="tab-pane fade" id="nav-containers" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div id="accordion">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            {% if statefulset_data.init_containers %}
                            <h3>Init Containers</h3>
                            
                            <div class="table-responsive">
                                <table class="table table-bordered" id="initContainersTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Image</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for ic in statefulset_data.init_containers %}
                                        <tr>
                                            <td>{{ ic.name }}</td>
                                            <td>{{ ic.image }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% endif %}
                            <h3>Containers</h3>
                            <div class="table-responsive">
                                <table class="table table-bordered" id="containersTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Image</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for c in statefulset_data.containers %}
                                        <tr>
                                            <td>{{ c.name }}</td>
                                            <td>{{ c.image }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Variables -->
            <div class="tab-pane fade" id="nav-variables" role="tabpanel" aria-labelledby="nav-variables-tab">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="containersVulnTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for variables in statefulset_data.environment_variables %}
                                    <tr>
                                        {% for key, var in variables.items() %}
                                            <td>{{ key }}</td>
                                            <td>{{ var }}</td>
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- security -->
            <div class="tab-pane fade" id="nav-security" role="tabpanel" aria-labelledby="nav-security-tab">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="securityTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                    <th>Context</th>
                                    <th>State</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for item in statefulset_data.security_context.items() %}
                                    <tr>
                                        <td>{{ item[0] }}</td>
                                        <td>{{ item[1] }}</td>
                                    </tr>
                                {% endfor%}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- resources -->
            <div class="tab-pane fade" id="nav-resources" role="tabpanel" aria-labelledby="nav-resources-tab">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <h3>Refers To</h3>
                        <div class="table-responsive">
                            <table class="table table-bordered" id="refersTable" width="100%" cellspacing="0">
                                <!-- service account, secret, configmap, volume-->
                                <thead>
                                    <th>Type</th>
                                    <th>Name</th>
                                    <th>Namespace</th>
                                </thead>
                                <tbody>
                                {% if statefulset_data.image_pull_secrets %}
                                    {% for dict_item in statefulset_data.image_pull_secrets %}
                                    {% for key, value in dict_item.items() %}
                                    <tr>
                                        <td>ImagePullSecret</td>
                                        <td>
                                            <form action="/secrets" method="POST">
                                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                                <input type="hidden" name="ns_select" value="{{ statefulset_data.namespace }}" />
                                                <input type="hidden" name="selected" value="{{ value }}" />
                                                <a href="javascript:;" onclick="parentNode.submit();">{{ value }}</a>
                                            </form>
                                        </td>
                                        <td>{{ statefulset_data.namespace }}</td>
                                    </tr>
                                    {% endfor %}
                                    {% endfor %}
                                {% endif %}
                                {% if statefulset_data.service_account %}
                                    <tr>
                                        <td>ServiceAccount</td>
                                        <td>
                                            <form action="/service-accounts" method="POST">
                                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                                <input type="hidden" name="ns_select" value="{{ statefulset_data.namespace }}" />
                                                <input type="hidden" name="selected" value="{{ statefulset_data.service_account }}" />
                                                <a href="javascript:;" onclick="parentNode.submit();">{{ statefulset_data.service_account }}</a>
                                            </form>
                                        </td>
                                        <td>{{ statefulset_data.namespace }}</td>
                                    </tr>
                                {% endif %}
                                {% if statefulset_data.secrets %}
                                    {% for secret in statefulset_data.secrets %}
                                    <tr>
                                        <td>Secret</td>
                                        <td>
                                            <form action="/secrets" method="POST">
                                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                                <input type="hidden" name="ns_select" value="{{ statefulset_data.namespace }}" />
                                                <input type="hidden" name="selected" value="{{ secret }}" />
                                                <a href="javascript:;" onclick="parentNode.submit();">{{ secret }}</a>
                                            </form>
                                        </td>
                                        <td>{{ statefulset_data.namespace }}</td>
                                    </tr>
                                    {% endfor %}
                                {% endif %}
                                {% if statefulset_data.cm %}
                                    {% for cm in statefulset_data.cm %}
                                    <tr>
                                        <td>Configmap</td>
                                        <td>
                                            <form action="/configmaps" method="POST">
                                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                                <input type="hidden" name="ns_select" value="{{ statefulset_data.namespace }}" />
                                                <input type="hidden" name="selected" value="{{ cm }}" />
                                                <a href="javascript:;" onclick="parentNode.submit();">{{ cm }}</a>
                                            </form>
                                        </td>
                                        <td>{{ statefulset_data.namespace }}</td>
                                    </tr>
                                    {% endfor %}
                                {% endif %}
                                {% if statefulset_data.pvc %}
                                    {% for pvc in statefulset_data.pvc %}
                                    <tr>
                                        <td>PeristentVolumeClame</td>
                                        <td>
                                            <form action="/pvc" method="POST">
                                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                                <input type="hidden" name="ns_select" value="{{ statefulset_data.namespace }}" />
                                                <input type="hidden" name="selected" value="{{ pvc }}" />
                                                <a href="javascript:;" onclick="parentNode.submit();">{{ pvc }}</a>
                                            </form>
                                        </td>
                                        <td>{{ statefulset_data.namespace }}</td>
                                    </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END -->
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {% for c in statefulset_data.containers %}
    <script>
        $(document).ready(function () {
            $('#vulnTable{{ c.name }}').DataTable({
               responsive: true,
               order: [[1, 'asc']],
            });
        });
    </script>
    {% endfor %}
    {% for ic in statefulset_data.init_containers %}
    <script>
        $(document).ready(function () {
            $('#intVulnTable{{ ic.name }}').DataTable({
               responsive: true,
               order: [[1, 'asc']],
            });
        });
    </script>
    {% endfor %}

    <!-- Custom input spinner -->
    <script id="spinner" src="{{ url_for('static',filename='/vendor/custom-input-spinner/inputt-spinner.js') }}" ></script>

    <!-- Page level plugins -->
    <script src="{{ url_for('static',filename='vendor/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

    <!-- Page level custom scripts -->
    <script src="{{ url_for('static',filename='js/demo/datatables-demo.js') }}"></script>
{% endblock %}