{% extends "base.html.j2" %}

{% block header %}
    <link href="{{ url_for('static',filename='/vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet" >
    <link href="{{ url_for('static',filename='/vendor/datatables/jquery.dataTables.css') }}" rel="stylesheet" >
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Storage</li>
    <li class="breadcrumb-item active" aria-current="page">Storage Class</li>
    <div class="col">
      <a class="card-link float-right" data-toggle="collapse" href="#" onclick="reload()">
        <i class="material-icons">refresh</i>
      </a>
    </div>
  </ol>
</nav>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Storage Classes List</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                      <th>Name</th>
                      <th>Default</th>
                      <th>Reclaim Policy</th>
                      <th>Volume Binding Mode</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for sc in storage_classes %}
                    {% if selected == sc.name %}
                      <tr class="selected" >
                    {% elif selected == "default" %}
                      {% for an_key, an_value in sc.annotations.items() %}
                        {% if an_key == "storageclass.kubernetes.io/is-default-class"%}
                          {% if an_value == "true" %}
                            <tr class="selected" >
                          {% endif %}
                        {% endif %}
                      {% endfor %}
                    {% else %}
                      <tr>
                    {% endif %}
                        <td>
                          <form action="/storage-class/data" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="hidden" name="ns_select" value="{{ session['ns_select'] }}" />
                            <input type="hidden" name="sc_name" value="{{ sc.name }}" />
                            <a href="javascript:;" onclick="parentNode.submit();">{{ sc.name }}</a>
                          </form>
                        </td>
                        <td>
                          {% for an_key, an_value in sc.annotations.items() %}
                          {% if an_key == "storageclass.kubernetes.io/is-default-class"%}
                          {{an_value}}
                          {% endif %}
                          {% endfor %}
                        </td>
                        <td>
                          {{ sc.reclaim_policy }}
                        </td>
                        <td>
                          {{ sc.volume_binding_mode }}
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
    <!-- Page level plugins -->
    <script src="{{ url_for('static',filename='vendor/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

    <!-- Page level custom scripts -->
    <script src="{{ url_for('static',filename='js/demo/datatables-demo.js') }}"></script>
{% endblock %}
