{% extends "base.html.j2" %}

{% block header %}
    <link href="{{ url_for('static',filename='/vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet" >
    <link href="{{ url_for('static',filename='/vendor/google/material-icons.css') }}" rel="stylesheet" >
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">User Management</li>
    <li class="breadcrumb-item active" aria-current="page">Users and Groups</li>
    <div class="col">
      <a class="card-link float-right" data-toggle="collapse" href="#" onclick="reload()">
        <i class="material-icons">refresh</i>
      </a>
    </div>
  </ol>
</nav>

<!-- Page Heading -->
<nav class="navbar navbar-light bg-light row">
  <div class="col"></div>
  <!-- Button trigger modal add -->
  {% if session['user_role'] == "Admin" %}
  <button type="button" class="btn btn-success float-right col-1 me-lg-4" data-toggle="modal" data-target="#modaladd">
    Add User
  </button>
  {% endif %}

  <!-- Modal Add User -->
  <div class="modal fade" id="modaladd" tabindex="-1" role="dialog" aria-labelledby="modaladdLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modaladdLabel">Create User</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/users/add" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="form-group">
              <label>Name:</label>
              <input class="form-control user" name="username" type="text" placeholder="Type your username">
            </div>
            <div class="form-group">
              <label>Email:</label>
              <input class="form-control user" name="email" type="text" placeholder="Type your email">
            </div>
            <div class="form-group">
              <label>Password:</label>
              <input type="password" name="password" id="PassEntry" class="form-control user" placeholder="Type your password">
            </div>
            <div class="form-group">
              <label>Permission:</label>
              <select class="form-select" aria-label="Select role" name="role">
                <option value="User">User</option>
                <option value="Admin">Admin</option>
              </select>
            </div>
            <div class="form-group">
              <label>Type:</label>
              <select class="form-select" aria-label="Select role" name="type">
                <option value="Local">Local</option>
                {% for contect in k8s_contect_list%}
                <option value="{{ contect }}">{{ contect }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="modal-footer">
              <div class="form-group mt-2">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" >Add User</button>
              </div>
            </div>
          </form>
        </div>
    </div>
  </div>
  <!-- Modal Add User -->

</nav>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">User List</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                      <th>Username</th>
                      <th>Email</th>
                      <th>Permission</th>
                      <th>Type</th>
                      <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                      <th>Username</th>
                      <th>Email</th>
                      <th>Permission</th>
                      <th>Type</th>
                      <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                  {% for user in users %}
                  <tr>
                    {% if session['user_role'] == "Admin" and user.username != "admin" %}
                    <td>
                      <form action="/users/privileges" method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <input type="hidden"  name="username" value="{{ user.username }}"/>
                        <a href="javascript:;" onclick="parentNode.submit();">{{ user.username }}</a>
                      </form>
                    </td>
                    {% elif user.username == session['username'] and user.username != "admin" %}
                    <td>
                      <form action="/users/privileges" method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <input type="hidden"  name="username" value="{{ user.username }}"/>
                        <a href="javascript:;" onclick="parentNode.submit();">{{ user.username }}</a>
                      </form>                    </td>
                    {% else %}
                      <td>{{ user.username }}</td>
                    {% endif %}
                    <td>{{ user.email }}</td>
                    {% for ur in user_role %}
                      {% if ur.user_id == user.id %}
                        {% for r in roles %}
                          {% if r.id == ur.role_id %}
                            <td>{{ r.name }}</td>
                          {% endif %}
                        {% endfor %}
                      {% endif %}
                    {% endfor %}
                    <td>{{ user.user_type }}</td>
                    <td>
                      {% if session['user_role'] == "Admin" and user.username != "admin" %}
                      <!-- Button trigger modal edit -->
                      <div class="form-row">
                        <form action="/users/delete" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <button type="button" class="btn btn-success btn-just-icon btn-xs" data-toggle="modal" data-target="#modaledit{{ user.id }}" data-user="{{ user.username }}" data-role="{{ user.role }}">
                                <i class="material-icons">edit</i>
                            </button>
                            {% if user.username != username %}
                            <input type="hidden"  name="username" value="{{ user.username }}"/>
                            <button type="submit" rel="tooltip" class="btn btn-danger btn-just-icon btn-sm" value="upvote">
                                <i class="material-icons">delete</i>
                            </button>
                            {% endif %}
                        </form>
                        <form action="/users/privileges/edit" method="POST">
                          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                          <input type="hidden"  name="username" value="{{ user.username }}"/>
                          <button type="submit" rel="tooltip" class="btn btn-secondary btn-just-icon btn-sm" value="upvote">
                            <i class="material-icons">workspace_premium</i>
                          </button>
                        </form> 
                      </div>   
                      {% endif %}
                    </td>
                  </tr>
                  {% endfor %}

                </tbody>
            </table>

        </div>
    </div>
</div>

<!-- Modal Edit User -->
{% for user in users %}
<div class="modal fade" id="modaledit{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="modaleditLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modaleditLabel">Update Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" method="POST">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <div class="form-group">
            <label>Name:</label>
            <input class="form-control" name="username" type="text" value="{{ user.username }}">
          </div>
          <div class="form-group">
            <label>Dashboard Role:</label>
            <select class="form-select" aria-label="Select role" name="role">
              <option value="User">User</option>
              <option value="Admin">Admin</option>
            </select>
          </div>
          <div class="form-group">
            <label>Type:</label>
            <select class="form-select" aria-label="Select role" name="type">
              <option value="{{ user.user_type }}">{{ user.user_type }}</option>
              {% for contect in k8s_contect_list%}
              <option value="{{ contect }}">{{ contect }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <div class="modal-footer mt-2">
              <div class="form-group">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" >Save changes</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endfor %}
<!-- Modal Edit User -->

{% endblock %}

{% block scripts %}
    <!-- Page level plugins -->
    <script src="{{ url_for('static',filename='vendor/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

    <!-- Page level custom scripts -->
    <script src="{{ url_for('static',filename='js/demo/datatables-demo.js') }}"></script>
{% endblock %}
