{% extends "base.html.j2" %}

{% block header %}
    <link href="{{ url_for('static',filename='/vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet" >
    <link href="{{ url_for('static',filename='/vendor/google/material-icons.css') }}" rel="stylesheet" >
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">User Management</li>
    <li class="breadcrumb-item"><a href="/users">Users and Roles</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ username }}</li>
    <div class="col">
      <a class="card-link float-right" data-toggle="collapse" href="#" onclick="reload()">
        <i class="material-icons">refresh</i>
      </a>
    </div>
  </ol>
</nav>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Roles List</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Namespace</th>
                        <th>API Groups</th>
                        <th>Non Resources</th>
                        <th>Resources</th>
                        <th>Verbs</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for ucr in user_cluster_roles %}
                    <tr>
                        <td>All</td>
                        <td>
                            {% if ucr.api_groups %}
                            {% for ag in ucr.api_groups %}
                                {% if arg|length %}
                                    {{ ag }}{% if not loop.last %}<br>{% endif %}
                                {% else %}
                                    " "{% if not loop.last %}<br>{% endif %}
                                {% endif %}
                            {% endfor %}
                            {% else %}
                                {{ ucr.api_groups }}
                            {% endif %}
                        </td>
                        <td>
                            {% if ucr.resource_names %}
                            {% for rn in ucr.resource_names %}
                                {{ rn }}{% if not loop.last %}<br>{% endif %}
                            {% endfor %}
                            {% else %}
                                {{ ucr.resource_names }}
                            {% endif %}
                        </td>
                        <td>
                            {% if ucr.resources %}
                            {% for r in ucr.resources %}
                                {{ r }}{% if not loop.last %}<br>{% endif %}
                            {% endfor %}
                            {% else %}
                                {{ ucr.resources }}
                            {% endif %}
                        </td>
                        <td>
                            {% if ucr.verbs %}
                            {% for v in ucr.verbs %}
                                {{ v }}{% if not loop.last %}<br>{% endif %}
                            {% endfor %}
                            {% else %}
                                {{ ucr.verbs }}
                            {% endif %}
                        </td>
                    </tr>    
                    {% endfor%}
                    {% for ur in user_roles %}
                    {% for ns, priv in ur.items() %}
                    <tr>
                        <td>{{ ns }}</td>
                        <td>
                            {% if priv.api_groups %}
                            {% for ag in priv.api_groups %}
                                {% if arg|length %}
                                    {{ ag }}{% if not loop.last %}<br>{% endif %}
                                {% else %}
                                    " "{% if not loop.last %}<br>{% endif %}
                                {% endif %}
                            {% endfor %}
                            {% else %}
                                {{ priv.api_groups }}
                            {% endif %}
                        </td>
                        <td>
                            {% if priv.resource_names %}
                            {% for rn in priv.resource_names %}
                                {{ rn }}{% if not loop.last %}<br>{% endif %}
                            {% endfor %}
                            {% else %}
                                {{ priv.resource_names }}
                            {% endif %}
                        </td>
                        <td>
                            {% if priv.resources %}
                            {% for r in priv.resources %}
                                {{ r }}{% if not loop.last %}<br>{% endif %}
                            {% endfor %}
                            {% else %}
                                {{ priv.resources }}
                            {% endif %}
                        </td>
                        <td>
                            {% if priv.verbs %}
                            {% for v in priv.verbs %}
                                {{ v }}{% if not loop.last %}<br>{% endif %}
                            {% endfor %}
                            {% else %}
                                {{ priv.verbs }}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor%}
                    {% endfor%}
                  </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <!-- Page level plugins -->
    <script src="{{ url_for('static',filename='vendor/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

    <!-- Page level custom scripts -->
    <script src="{{ url_for('static',filename='js/demo/datatables-demo.js') }}"></script>
{% endblock %}