{% extends "base3.html.j2" %}

{% block topmenu %}
<ul class="header-nav d-lg-flex m-3">
    <div class="container-fluid px-4">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-0">
          <li class="breadcrumb-item"><span>Dashboard</span></li>
          <li class="breadcrumb-item active"><span>Workload Map</span></li>
        </ol>
      </nav>
    </div>
</ul>
<ul class="header-nav ms-auto"></ul>
<ul class="header-nav d-lg-flex">
{% include "segments/topmenu.html.j2" %}
{% endblock %}


{% block content %}
  <!-- note -->
  {% if app_url %}
      <iframe src="{{ app_url }}" width="100%"  height="100%" frameborder="0" sandbox="allow-same-origin allow-scripts"></iframe>
  {% else %}
      <p class="text-center">Kubeview is not enabled or URL is not set.</p>
  {% endif %}
{% endblock %}