{% extends "base2.html.j2" %}

{% block topmenu %}
<ul class="header-nav d-lg-flex m-3">
    <div class="container-fluid px-4">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-0">
          <li class="breadcrumb-item"><span>Plugins</span></li>
          <li class="breadcrumb-item"><a href="/plugins/registry">Registry</a></li>
          <li class="breadcrumb-item"><a href="/plugins/registry/image/list">Images</a></li>
          <li class="breadcrumb-item active"><span>{{ image_name }}</span></li>
        </ol>
      </nav>
    </div>
</ul>
<ul class="header-nav ms-auto"></ul>
<ul class="header-nav d-lg-flex">
{% include "segments/topmenu.html.j2" %}
{% endblock %}

{% block content %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Tag List</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
        {% if tag_list.tags %}
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                      <th>Tags</th>
                      <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tag in tag_list.tags %}
                        {% if selected == tag %}
                          <tr class="selected" >
                        {% else %}
                          <tr>
                        {% endif %}
                            <td>
                              <form action="/plugins/registry/image/data" method="POST">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                <input type="hidden" name="tag_name" value="{{ tag }}" />
                                <a href="javascript:;" onclick="parentNode.submit();">{{ tag }}</a>
                              </form>
                            </td>
                            <td>
                                {% if session['user_role'] == "Admin" %}
                                <!-- Button trigger modal edit -->
                                <form action="/plugins/registry/image/tag/delete" method="POST">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                    <input type="hidden" name="image_name" value="{{ image_name }}" />
                                    <input type="hidden" name="tag_name" value="{{ tag }}" />
                                    <button type="submit" rel="tooltip" class="btn btn-danger btn-just-icon btn-sm" value="upvote">
                                        <i class="material-icons">delete</i>
                                    </button>
                                </form>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
          <tr>
            <td>
              <img class="center" src="{{ url_for('static',filename='/img/blank-tags.png') }}">
              <h2 class="center">No Tags</h2>
              <h4 class="center">No tags are available at the moment.</h4>
            </td>
          </tr>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block add_head_css %}
{% include "segments/datatable_snipet.html.j2" %}
{% endblock %}