{% extends "base2.html.j2" %}

{% block topmenu %}
<ul class="header-nav d-lg-flex m-3">
    <div class="container-fluid px-4">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-0">
          <li class="breadcrumb-item"><span>Cluster</span></li>
          <li class="breadcrumb-item active"><span>CRDs</span></li>
        </ol>
      </nav>
    </div>
</ul>
{% include "segments/topmenu.html.j2" %}
{% endblock %}

{% block content %}
{% endblock %}