{% extends "base2.html.j2" %}

{% block topmenu %}
<ul class="header-nav d-lg-flex m-3">
    <div class="container-fluid px-4">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-0">
          <li class="breadcrumb-item"><span>Cluster</span></li>
          <li class="breadcrumb-item"><a href="/cluster/nodes">Nodes</a></li>
          <li class="breadcrumb-item active"><span>{{ node_data.name }}</span></li>
        </ol>
      </nav>
    </div>
</ul>
<ul class="header-nav ms-auto"></ul>
<ul class="header-nav d-lg-flex">
{% include "segments/topmenu.html.j2" %}
{% endblock %}

{% block content %}
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div>
		  {% if node_metrics and node_metrics.cpu %}
                    <canvas id="cpu" width="300" height="300"></canvas>
                </div>
                <div>
                {% for CPUkey, CPUvalue in node_metrics.cpu.items() %}
                     {% if "Percent" not in CPUkey %}
                        {{ CPUkey }}: {{ CPUvalue |round(1)}} <br>
                     {% endif %}
                {% endfor %}
                  {% endif %}
                </div>
            </div>
            <div class="col">
                <div>
                  {% if node_metrics and node_metrics.memory %}
                    <canvas id="memory" width="300" height="300"></canvas>
                </div>
                <div>
                    {% for RAMkey, RAMvalue in node_metrics.memory.items() %}
                     {% if "Percent" not in RAMkey %}
                        {{ RAMkey }}: {{ (RAMvalue / 1024 / 1024 / 1024) |round(1) }} <br>
                     {% endif %}
                    {% endfor %}
                  {% endif %}
                </div>
            </div>
            <div class="col">
                <div>
                  {% if node_metrics and node_metrics.pod_count %}
                    <canvas id="pod" width="300" height="300"></canvas>
                </div>
                <div class="mp-10">
                    {% for pod_key, pod_value in node_metrics.pod_count.items() %}
                        {% if "Percent" not in pod_key %}
                            {{ pod_key }}: {{ pod_value }} <br>
                        {% endif %}
                    {% endfor %}
                  {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header">
        <h6 class="m-0 font-weight-bold text-primary">Node Data</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="podInfoTable" width="100%" cellspacing="0">
                <tr>
                    <th>Status:</th>
                    <td>
                        {% if node_data.status == "Ready" %}
                            <span class="badge text-bg-tag text-bg-success">{{ node_data.status }}</span>
                        {% else %}
                            <span class="badge text-bg-tag text-bg-danger">{{ node_data.status }}</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Name:</th>
                    <td>{{node_data.name }}</td>
                </tr>
                <tr>
                    <th>Role:</th>
                    <td>{{node_data.role }}</td>
                </tr>
                {% if node_data.labels %}
                    {% set region = False %}
                    {% set zone = False %}
                    {% set engine = False %}
                    {% for no_key, no_value in node_data.labels.items() %}
                        {% if no_key == "failure-domain.beta.kubernetes.io/region" and no_value %}
                        {% set region = True %}
                        <tr>
                            <th>Region:</th>
                            <td>{{ no_value }}</td>
                        </tr>
                        {% elif no_key == "topology.kubernetes.io/region" and no_value and region is sameas True %}
                        <tr>
                            <th>Region:</th>
                            <td>{{ no_value }}</td>
                        </tr>
                        {% endif %}
                        {% if no_key == "failure-domain.beta.kubernetes.io/zone" and no_value %}
                        {% set zone = True %}
                        <tr>
                            <th>Zone:</th>
                            <td>{{ no_value }}</td>
                        </tr>
                        {% elif no_key == "topology.kubernetes.io/zone" and no_value and zone is sameas True %}
                        <tr>
                            <th>Zone:</th>
                            <td>{{ no_value }}</td>
                        </tr>
                        {% endif %}
                        {% if no_key == "beta.kubernetes.io/instance-type" and no_value %}
                        {% set engine = True %}
                        <tr>
                            <th>Kubernetes Distribution:</th>
                            <td>{{ no_value }}</td>
                        </tr>
                        {% elif no_key == "node.kubernetes.io/instance-type" and no_value and engine is sameas True %}
                        <tr>
                            <th>Kubernetes Distribution:</th>
                            <td>{{ no_value }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <tr>
                    <th>Version:</th>
                    <td>{{node_data.version }}</td>
                </tr>
                <tr>
                    <th>Operation System:</th>
                    <td>{{node_data.os }}</td>
                </tr>
                <tr>
                    <th>Runtime:</th>
                    <td>{{node_data.runtime }}</td>
                </tr>
                <tr>
                    <th>Taints:</th>
                    <td>
                        {% for taint in node_data.taint %}
                        <span class="badge text-bg-tag text-bg-tag text-bg-secondary">{{ taint }}</span>
                        {% if not loop.last %}<br>{% endif %}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>Annotations:</th>
                    <td>
                        {% if node_data.annotations %}
                        <table class="table table-bordered" id="annotationTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th width="50%">Key</th>
                                    <th width="50%">Value</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for key, value in node_data.annotations.items() %}
                                <tr>
                                {% if key != "kubectl.kubernetes.io/last-applied-configuration" %}
                                    <td width="50%">{{ key }}</td>
                                    <td width="50%">{{ value }}</td>
                                {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Lables:</th>
                    <td>
                        {% if node_data.labels %}
                        <table class="table table-bordered" id="labelsTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th width="50%">Key</th>
                                    <th width="50%">Value</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for key, value in node_data.labels.items() %}
                                <tr>
                                    <td width="50%">{{ key }}</td>
                                    <td width="50%">{{ value }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div> 
    </div>
</div>

{% if node_data.conditions %}
<div class="card shadow mb-4">
    <div class="card-header">
        <h6 class="m-0 font-weight-bold text-primary">Conditions</h6>
    </div>
    <div class="card-body">
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="podInfoTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Status</th>
                                <th>Reason</th>
                                <th>Message</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for co_type, co_status, co_reason, co_message in node_data.conditions|reverse %}
                            <tr>
                                <td>{{ co_type }}</th>
                                {% if co_type == "Ready" %}
                                    <td>
                                    {% if co_status == "True" %}
                                        <span class="badge text-bg-tag text-bg-success">{{ co_status }}</span>
                                    {% else %}
                                        <span class="badge text-bg-tag text-bg-danger">{{ co_status }}</span>
                                    {% endif %}
                                    </td>
                                {% else %}
                                    <td>
                                    {% if co_status == "True" %}
                                        <span class="badge text-bg-tag text-bg-danger">{{ co_status }}</span>
                                    {% elif co_status == "Unknown" %}
                                        <span class="badge text-bg-tag text-bg-danger">{{ co_status }}</span>
                                    {% else %}
                                        <span class="badge text-bg-tag text-bg-success">{{ co_status }}</span>
                                    {% endif %}
                                    </td>
                                {% endif %}
                                <td>{{ co_reason }}</th>
                                <td>{{ co_message }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
    {% endif %}
{% endblock %}

{% block add_head_css %}
{% include "segments/datatable_snipet.html.j2" %}
{% endblock %}

{% block add_tail_js %}
{% include "segments/chartjs_snipet.html.j2" %}
{% include "segments/chartjs_snipet.html.j2" %}
    <script>
        // Function to detect Bootstrap dark mode
        function getThemeColor() {
            return document.documentElement.getAttribute('data-coreui-theme') === 'dark' ? '#ffffffde' : '#252b36f2';
        }
        // Listen for theme change and update chart title color
        const observer = new MutationObserver(() => {
            const themeColor = getThemeColor();

            CPUChart.options.plugins.title.color = themeColor;
            CPUChart.options.plugins.legend.labels.color = themeColor;
            CPUChart.update();

            MemoryChart.options.plugins.title.color = themeColor;
            MemoryChart.options.plugins.legend.labels.color = themeColor;
            MemoryChart.update();

            PodChart.options.plugins.title.color = themeColor;
            PodChart.options.plugins.legend.labels.color = themeColor;
            PodChart.update();
        });

        observer.observe(document.documentElement, { attributes: true, attributeFilter: ['data-coreui-theme'] });
    </script>
    <script>
        var usagePercent = {{ node_metrics.cpu.usagePercent }};
        var usagePercentFree = (100 - usagePercent)
        if (usagePercentFree <= 0) {
            usagePercentFree = 0
        }
        var requestsPercent = {{ node_metrics.cpu.requestsPercent }};
        var requestsPercentFree = (100 - requestsPercent)
        if (requestsPercentFree <= 0) {
            requestsPercentFree = 0
        }
        var limitsPercent = {{ node_metrics.cpu.limitsPercent }};
        var limitsPercentFree = (100 - limitsPercent)
        if (limitsPercentFree <= 0) {
            limitsPercentFree = 0
        }
        const ctx1 = document.getElementById('cpu').getContext('2d');
        const CPUChart = new Chart(ctx1, {
            type: 'doughnut',
            data: {
                datasets: [
                    {
                        label: 'CPU Usage',
                        data: [usagePercent, usagePercentFree],
                        backgroundColor: ['#FF6384', '#36A2EB'],
                        hoverBackgroundColor: ['#FF4365', '#2496D1']
                    },
                    {
                        label: 'CPU Request',
                        data: [requestsPercent, requestsPercentFree],
                        backgroundColor: ['#FF9F40', '#4BC0C0'],
                        hoverBackgroundColor: ['#E68935', '#3AA7A3']
                    },
                    {
                        label: 'CPU Limit',
                        data: [limitsPercent, limitsPercentFree],
                        backgroundColor: ['#FFCD56', '#9966FF'],
                        hoverBackgroundColor: ['#E6B94D', '#8053CC']
                    }
                ],
                labels: ['Used', 'Free', 'Requests', 'Not Requested', 'Limits', 'Not Limited']
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    title: {
                        display: true,
                        text: 'CPU Allocation (cores)',
                        font: {
                            size: 20,
                            weight: 'bold'
                        },
                        color: getThemeColor(),
                        padding: {
                            top: 10,
                            bottom: 20
                        }
                    },
                    legend: {
                        display: true,
                        position: 'right',
                        labels: {
                            color: getThemeColor(), // Set initial legend text color
                            usePointStyle: true, // Use circle markers in legend
                            font: {
                                size: 14
                            },
                            generateLabels: function(chart) {
                                let labels = [];
                                let datasetIndex = 0;

                                chart.data.datasets.forEach((dataset) => {
                                    dataset.data.forEach((value, index) => {
                                        labels.push({
                                            text: chart.data.labels[datasetIndex * 2 + index],
                                            fillStyle: dataset.backgroundColor[index],
                                            strokeStyle: dataset.backgroundColor[index],
                                            lineWidth: 1,
                                            fontColor: getThemeColor(), // Dynamically set text color
                                            hidden: isNaN(value)
                                        });
                                    });
                                    datasetIndex++;
                                });

                                return labels;
                            }
                        }
                    }
                }
            }
        });
    </script>
    <script>
        var usagePercent = {{ node_metrics.memory.usagePercent }};
        var usagePercentFree = (100 - usagePercent)
        if (usagePercentFree <= 0) {
            usagePercentFree = 0
        }
        var requestsPercent = {{ node_metrics.memory.requestsPercent }};
        var requestsPercentFree = (100 - requestsPercent)
        if (requestsPercentFree <= 0) {
            requestsPercentFree = 0
        }
        var limitsPercent = {{ node_metrics.memory.limitsPercent }};
        var limitsPercentFree = (100 - limitsPercent)
        if (limitsPercentFree <= 0) {
            limitsPercentFree = 0
        }
        const ctx2 = document.getElementById('memory').getContext('2d');
        const MemoryChart = new Chart(ctx2, {
            type: 'doughnut',
            data: {
                datasets: [
                    {
                        label: 'Memory Usage',
                        data: [usagePercent, usagePercentFree],
                        backgroundColor: ['#FF6384', '#36A2EB'],
                        hoverBackgroundColor: ['#FF4365', '#2496D1']
                    },
                    {
                        label: 'Memory Request',
                        data: [requestsPercent, requestsPercentFree],
                        backgroundColor: ['#FF9F40', '#4BC0C0'],
                        hoverBackgroundColor: ['#E68935', '#3AA7A3']
                    },
                    {
                        label: 'Memory Limit',
                        data: [limitsPercent, limitsPercentFree],
                        backgroundColor: ['#FFCD56', '#9966FF'],
                        hoverBackgroundColor: ['#E6B94D', '#8053CC']
                    }
                ],
                labels: ['Used', 'Free', 'Requests', 'Not Requested', 'Limits', 'Not Limited']
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    title: {
                        display: true,
                        text: 'Memory Allocation (bytes)',
                        font: {
                            size: 20,
                            weight: 'bold'
                        },
                        color: getThemeColor(),
                        padding: {
                            top: 10,
                            bottom: 20
                        }
                    },
                    legend: {
                        display: true,
                        position: 'right',
                        labels: {
                            color: getThemeColor(), // Set initial legend text color
                            usePointStyle: true, // Use circle markers in legend
                            font: {
                                size: 14
                            },
                            generateLabels: function(chart) {
                                let labels = [];
                                let datasetIndex = 0;

                                chart.data.datasets.forEach((dataset) => {
                                    dataset.data.forEach((value, index) => {
                                        labels.push({
                                            text: chart.data.labels[datasetIndex * 2 + index],
                                            fillStyle: dataset.backgroundColor[index],
                                            strokeStyle: dataset.backgroundColor[index],
                                            lineWidth: 1,
                                            fontColor: getThemeColor(), // Dynamically set text color
                                            hidden: isNaN(value)
                                        });
                                    });
                                    datasetIndex++;
                                });

                                return labels;
                            }
                        }
                    }
                }
            }
        });
    </script>
    <script>
        var usagePercent = {{ node_metrics.pod_count.currentPercent }};
        var usagePercentFree = (100 - usagePercent)
        if (usagePercentFree <= 0) {
            usagePercentFree = 0
        }
        const ctx3 = document.getElementById('pod').getContext('2d');
        const PodChart = new Chart(ctx3, {
            type: 'doughnut',
            data: {
                datasets: [
                    {
                        label: 'Pod Usage',
                        data: [usagePercent, usagePercentFree],
                        backgroundColor: ['#FF6384', '#36A2EB'],
                        hoverBackgroundColor: ['#FF4365', '#2496D1']
                    }
                ],
                labels: ['Used', 'Free']
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    title: {
                        display: true,
                        text: 'Pod Allocation',
                        font: {
                            size: 20,
                            weight: 'bold'
                        },
                        color: getThemeColor(),
                        padding: {
                            top: 10,
                            bottom: 20
                        }
                    },
                    legend: {
                        display: true,
                        position: 'right',
                        labels: {
                            color: getThemeColor(), // Set initial legend text color
                            usePointStyle: true, // Use circle markers in legend
                            font: {
                                size: 14
                            },
                            generateLabels: function(chart) {
                                let labels = [];
                                let datasetIndex = 0;

                                chart.data.datasets.forEach((dataset) => {
                                    dataset.data.forEach((value, index) => {
                                        labels.push({
                                            text: chart.data.labels[datasetIndex * 2 + index],
                                            fillStyle: dataset.backgroundColor[index],
                                            strokeStyle: dataset.backgroundColor[index],
                                            lineWidth: 1,
                                            fontColor: getThemeColor(), // Dynamically set text color
                                            hidden: isNaN(value)
                                        });
                                    });
                                    datasetIndex++;
                                });

                                return labels;
                            }
                        }
                    }
                }
            }
        });
    </script>
{% endblock %}