{% extends "base2.html.j2" %}

{% block topmenu %}
<ul class="header-nav d-lg-flex m-3">
    <div class="container-fluid px-4">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-0">
          <li class="breadcrumb-item"><span>Network</span></li>
          <li class="breadcrumb-item active"><span>Ingress</span></li>
        </ol>
      </nav>
    </div>
</ul>
<ul class="header-nav ms-auto"></ul>
<ul class="header-nav d-lg-flex">
{% include "segments/topmenu.html.j2" %}
{% endblock %}

{% block content %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Ingress List</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                      <th>Name</th>
                      <th>IngressClass</th>
                      <th>Hostname</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for i in ingresses %}
                    {% if selected == i.name %}
                      <tr class="selected" >
                    {% else %}
                      <tr>
                    {% endif %}
                        <td>
                          <form action="/network/ingress/data" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="hidden" name="ns_select" value="{{ session['ns_select'] }}" />
                            <input type="hidden" name="i_name" value="{{ i.name }}" />
                            <a href="javascript:;" onclick="parentNode.submit();">{{ i.name }}</a>
                          </form>
                        </td>
                        <td>
                            {% if i.ingressClass %}
                              <form action="/network/ingress-class" method="POST">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                <input type="hidden" name="selected" value="{{ i.ingressClass }}" />
                                <a href="javascript:;" onclick="parentNode.submit();">{{ i.ingressClass }}</a>
                              </form>
                            {% else %}
                              {{ i.ingressClass }}
                            {% endif %}
                        </td>
                        <td>
                          {% for host in i.hosts %}
                            {{ host }}{% if not loop.last %}<br>{% endif %}
                          {% endfor %}
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block add_head_css %}
{% include "segments/datatable_snipet.html.j2" %}
{% endblock %}