{% extends "base2.html.j2" %}

{% block topmenu %}
<ul class="header-nav d-lg-flex m-3">
    <div class="container-fluid px-4">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-0">
          <li class="breadcrumb-item"><span>User Management</span></li>
          <li class="breadcrumb-item active"><span>Groups</span></li>
        </ol>
      </nav>
    </div>
</ul>
<ul class="header-nav ms-auto"></ul>
<ul class="header-nav d-lg-flex">
{% include "segments/topmenu.html.j2" %}
{% endblock %}

{% block content %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Horizontal Pod Autoscaler List</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                      <th>Name</th>
                      <th>Created</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for groupe in groupe_list %}
                        {% if selected == groupe.name %}
                        <tr class="selected" >
                        {% else %}
                        <tr>
                        {% endif %}
                        <td>
                          <form action="/user/group/privilege" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="hidden" name="ns_select" value="{{ session['ns_select'] }}" />
                            <input type="hidden" name="group_name" value="{{ groupe.name }}" />
                            <a href="javascript:;" onclick="parentNode.submit();">{{ groupe.name }}</a>
                          </form>
                        </td>
                        <td>{{ groupe.created }}</td>
                        <td>
                          {% if session['user_role'] == "Admin" %}
                          <!-- Button trigger modal edit -->
                          <div class="d-flex flex-row">
                            <form action="/user/group/privilege/edit" method="POST">
                              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                              <input type="hidden"  name="group_name" value="{{ groupe.name }}"/>
                              <button type="submit" rel="tooltip" class="btn btn-secondary btn-just-icon btn-sm" value="upvote">
                                <i class="material-icons">workspace_premium</i>
                              </button>
                            </form> 
                          </div>
                          {% endif %}
                        </td>
                    {% endfor %}
                  </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block add_head_css %}
{% include "segments/datatable_snipet.html.j2" %}
{% endblock %}