{% extends "base2.html.j2" %}

{% block topmenu %}
<ul class="header-nav d-lg-flex m-3">
    <div class="container-fluid px-4">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-0">
          <li class="breadcrumb-item"><span>Network</span></li>
          <li class="breadcrumb-item"><a href="/network/service">Services</a></li>
          <li class="breadcrumb-item active"><span>Services</span></li>
        </ol>
      </nav>
    </div>
</ul>
<ul class="header-nav ms-auto"></ul>
<ul class="header-nav d-lg-flex">
{% include "segments/topmenu.html.j2" %}
{% endblock %}

{% block content %}
<div class="card shadow mb-4">
    <div class="card-header">
        <h6 class="m-0 font-weight-bold text-primary">Service Data</h6>
    </div>
    <div class="card-body">
        <ul class="nav nav-tabs" id="nav-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="nav-service-tab" data-bs-toggle="tab" href="#nav-service" role="tab" aria-controls="nav-service" aria-selected="true" data-bs-toggle="tab">Service</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="nav-containers-port" data-bs-toggle="tab" href="#nav-port" role="tab" aria-controls="nav-port" aria-selected="false" data-bs-toggle="tab">Ports</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="nav-conditions-pod" data-bs-toggle="tab" href="#nav-pod" role="tab" aria-controls="nav-pod" aria-selected="false" data-bs-toggle="tab">Pods</a>
            </li>
            {#
            <li class="nav-item">
                <a class="nav-link" id="nav-ingress-tab" data-bs-toggle="tab" href="#nav-ingress" role="tab" aria-controls="nav-ingress" aria-selected="false" data-bs-toggle="tab">Ingresses</a>
            </li>
            #}
        </ul>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-service" role="tabpanel" aria-labelledby="nav-service-tab">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="podInfoTable" width="100%" cellspacing="0">
                                <tr>
                                    <th>Name:</th>
                                    <td>{{ service_data.name }}</td>
                                </tr>
                                <tr>
                                    <th>Type:</th>
                                    <td>{{ service_data.type }}</td>
                                </tr>
                                <tr>
                                    <th>Created:</th>
                                    <td>{{ service_data.created }}</td>
                                </tr>
                                <tr>
                                    <th>Annotations:</th>
                                    <td>
                                        {% if service_data.annotations %}
                                        <table class="table table-bordered" id="annotationTable" width="100%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th width="50%">Key</th>
                                                    <th width="50%">Value</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for key, value in service_data.annotations.items() %}
                                                <tr>
                                                {% if key != "kubectl.kubernetes.io/last-applied-configuration" %}
                                                    <td width="50%">{{ key }}</td>
                                                    <td width="50%">{{ value }}</td>
                                                {% endif %}
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                        {% endif %}
                                    </td>
                                </tr>
                               <tr>
                                    <th>Lables:</th>
                                    <td>
                                        {% if service_data.labels %}
                                        <table class="table table-bordered" id="labelsTable" width="100%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th width="50%">Key</th>
                                                    <th width="50%">Value</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for key, value in service_data.labels.items() %}
                                                <tr>
                                                    <td width="50%">{{ key }}</td>
                                                    <td width="50%">{{ value }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>Cluster IP:</th>
                                    <td>{{ service_data.cluster_ip }}</td>
                                </tr>
                                <tr>
                                    <th>External IP:</th>
                                    <td>{{ service_data.external_ip }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END CONTENT -->
            <div class="tab-pane fade" id="nav-port" role="tabpanel" aria-labelledby="nav-port-tab">
                <div id="accordion">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="podInfoTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Port</th>
                                            <th>Protocol</th>
                                            <th>Target</th>
                                            <th>Node Port</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for port in service_data.ports %}
                                            <tr>
                                                <td>{{ port.name }}</td>
                                                <td>{{ port.port }}</td>
                                                <td>{{ port.protocol }}</td>
                                                <td>{{ port.target_port }}</td>
                                                <td>{{ port.node_port }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END CONTENT -->
            <!-- END CONTENT -->
            <div class="tab-pane fade" id="nav-pod" role="tabpanel" aria-labelledby="nav-pod-tab">
                <div id="accordion">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="podInfoTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Status</th>
                                            <th>Name</th>
                                            <th>IP</th>
                                            <th>Node</th>
                                            <th>Owner</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for pod in pod_list %}
                                            <tr>
                                                <td>
                                                    {% if pod.status == "Running" %}
                                                    <span class="badge text-bg-success">{{ pod.status }}</span>
                                                    {% elif pod.status == "Pending" %}
                                                    <span class="badge text-bg-warning">{{ pod.status }}</span>
                                                    {% elif pod.status == "Succeeded" %}
                                                    <span class="badge text-bg-secondary">{{ pod.status }}</span>
                                                    {% else %}
                                                    <span class="badge text-bg-info">{{ pod.status }}</span>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <form action="/workload/pod/data" method="POST">
                                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                                        <input type="hidden" name="ns_select" value="{{ session['ns_select'] }}" />
                                                        <input type="hidden" name="po_name" value="{{ pod.name }}" />
                                                        <a href="javascript:;" onclick="parentNode.submit();">{{ pod.name }}</a>
                                                    </form>
                                                </td>
                                                <td>{{ pod.pod_ip }}</td>
                                                <td>
                                                    <form action="/cluster/node" method="POST">
                                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                                        <input type="hidden" name="ns_select" value="{{ session['ns_select'] }}" />
                                                        <input type="hidden" name="selected" value="{{ pod.node_name }}" />
                                                        <a href="javascript:;" onclick="parentNode.submit();">{{ pod.node_name }}</a>
                                                    </form>
                                                </td>
                                                <td>
                                                    <form action="/workload/{{ pod.owner.split('/')[0] }}" method="POST">
                                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                                        <input type="hidden" name="ns_select" value="{{ session['ns_select'] }}" />
                                                        <input type="hidden" name="selected" value="{{ pod.owner.split('/')[1] }}" />
                                                        <a href="javascript:;" onclick="parentNode.submit();">{{ pod.owner }}</a>
                                                    </form>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END CONTENT -->
        </div>
    </div>
</div>
{% endblock %}

{% block add_head_css %}
{% include "segments/datatable_snippet.html.j2" %}
{% endblock %}