{% extends "base2.html.j2" %}

{% block topmenu %}
<ul class="header-nav d-lg-flex m-3">
    <div class="container-fluid px-4">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-0">
          <li class="breadcrumb-item"><span>Settings</span></li>
          <li class="breadcrumb-item active"><span>Get KubeCongig</span></li>
        </ol>
      </nav>
    </div>
</ul>
<ul class="header-nav ms-auto"></ul>
<ul class="header-nav d-lg-flex">
{% include "segments/topmenu.html.j2" %}
{% endblock %}


{% block add_head_css %}
{% include "segments/highlight_snippet.html.j2" %}
{% endblock %}


{% block content %}
{% if context is defined %}
  {% if redirect_uri is defined %}
    {% include "settings/export-openid.html.j2" %}
  {% else %}
    {% include "settings/export-cert.html.j2" %}
  {% endif %}
{% else %}
  {% include "settings/export-error.html.j2" %}
{% endif %}
{% endblock %}
