{% extends "base2.html.j2" %}

{% block topmenu %}
<ul class="header-nav d-lg-flex m-3">
    <div class="container-fluid px-4">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-0">
          <li class="breadcrumb-item"><span>Storage</span></li>
          <li class="breadcrumb-item active"><a href="/storage/configmap">ConfigMap</a></li>
          <li class="breadcrumb-item active"><span>{{ configmap_data.name }}</span></li>
        </ol>
      </nav>
    </div>
</ul>
<ul class="header-nav ms-auto"></ul>
<ul class="header-nav d-lg-flex">
{% include "segments/topmenu.html.j2" %}
{% endblock %}

{% block content %}
<div class="card shadow mb-4">
    <div class="card-header">
        <h6 class="m-0 font-weight-bold text-primary">Configmap Data</h6>
    </div>
    <div class="card-body">
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="podInfoTable" width="100%" cellspacing="0">
                        <tr>
                            <th>Name:</th>
                            <td>{{ configmap_data.name }}</td>
                        </tr>
                        <tr>
                            <th>Namespace:</th>
                            <td>{{ namespace }}</td>
                        </tr>
                        <tr>
                            <th>Kind:</th>
                            <td>configmap</td>
                        </tr>
                        <tr>
                            <th>Created:</th>
                            <td>{{ configmap_data.created }}</td>
                        </tr>
                        <tr>
                            <th>Annotations:</th>
                            <td>
                                {% if configmap_data.annotations %}
                                <table class="table table-bordered" id="annotationTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th width="50%">Key</th>
                                            <th width="50%">Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for key, value in configmap_data.annotations.items() %}
                                        <tr>
                                            <td width="50%">{{ key }}</td>
                                            <td width="50%">{{ value }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Lables:</th>
                            <td>
                                {% if configmap_data.labels %}
                                <table class="table table-bordered" id="labelsTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th width="50%">Key</th>
                                            <th width="50%">Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for key, value in configmap_data.labels.items() %}
                                        <tr>
                                            <td width="50%">{{ key }}</td>
                                            <td width="50%">{{ value }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Version:</th>
                            <td>{{ configmap_data.version }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="card shadow mb-4">
        
        </div>
    </div>
    {% if configmap_data.data %}
    <div class="card-body">
        <div class="card shadow mb-2">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="podInfoTable" width="100%" cellspacing="0">
                        {% for da_key, da_value in configmap_data.data.items() %}
                        <tr>
                            <th>{{ da_key }}:</th>
                            <td>
                                <pre><code>{% autoescape false %}{{ da_value |replace("<", "&lt;")  |replace(">", "&gt;")  }}{% endautoescape %}</code></pre>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block add_head_css %}
{% include "segments/datatable_snippet.html.j2" %}
{% include "segments/highlight_snippet.html.j2"%}
{% include "segments/functions_snippet.j2"%}
{% endblock %}