{% extends "base2.html.j2" %}

{% block topmenu %}
<ul class="header-nav d-lg-flex m-3">
    <div class="container-fluid px-4">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-0">
          <li class="breadcrumb-item"><span>Storage</span></li>
          <li class="breadcrumb-item"><a href="/storage/pv">PV</a></li>
          <li class="breadcrumb-item active"><span>{{ pv_data.name }}</span></li>

        </ol>
      </nav>
    </div>
</ul>
<ul class="header-nav ms-auto"></ul>
<ul class="header-nav d-lg-flex">
{% include "segments/topmenu.html.j2" %}
{% endblock %}

{% block content %}
<div class="card shadow mb-4">
    <div class="card-header">
        <h6 class="m-0 font-weight-bold text-primary">Persistent Volume Data</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="podInfoTable" width="100%" cellspacing="0">
                <tr>
                    <th>Status:</th>
                    <td>{{ pv_data.status }}</td>
                </tr>
                <tr>
                    <th>Name:</th>
                    <td>{{ pv_data.name }}</td>
                </tr>
                <tr>
                    <th>Created:</th>
                    <td>{{ pv_data.created }}</td>
                </tr>
                {% if pv_data.deleted %}
                <tr>
                    <th>Deleted:</th>
                    <td>{{ pv_data.deleted }}</td>
                </tr>
                {% endif %}
                <tr>
                    <th>Annotations:</th>
                    <td>
                        {% if pv_data.annotations %}
                        <table class="table table-bordered" id="annotationTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th width="50%">Key</th>
                                    <th width="50%">Value</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for key, value in pv_data.annotations.items() %}
                                <tr>
                                    <td width="50%">{{ key }}</td>
                                    <td width="50%">{{ value }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Lables:</th>
                    <td>
                        {% if pv_data.labels %}
                        <table class="table table-bordered" id="labelsTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th width="50%">Key</th>
                                    <th width="50%">Value</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for key, value in pv_data.labels.items() %}
                                <tr>
                                    <td width="50%">{{ key }}</td>
                                    <td width="50%">{{ value }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>StorageClass:</th>
                    <td>
                        <form action="/storage/storage-class" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="hidden" name="ns_select" value="{{ session['ns_select'] }}" />
                            <input type="hidden" name="selected" value="{{ pv_data.storage_class_name }}" />
                            <a href="javascript:;" onclick="parentNode.submit();">{{ pv_data.storage_class_name }}</a>
                        </form>
                    </td>
                </tr>
                <tr>
                    <th>Persistent Volume Clame:</th>
                    <td>
                        <form action="/storage/pv" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="hidden" name="ns_select" value="{{ session['ns_select'] }}" />
                            <input type="hidden" name="selected" value="{{ pv_data.volume_claim_name }}" />
                            <a href="javascript:;" onclick="parentNode.submit();">{{ pv_data.volume_claim_name }}</a>
                        </form>
                    </td>
                </tr>
                <tr>
                    <th>PVC Namespace:</th>
                    <td>{{ pv_data.volume_claim_namespace }}</td>
                </tr>
                <tr>
                    <th>Access Mode:</th>
                    <td>{{ pv_data.access_modes }}</td>
                </tr>
                <tr>
                    <th>Volume Mode:</th>
                    <td>{{ pv_data.volume_mode }}</td>
                </tr>
                <tr>
                    <th>Reclaim Policy:</th>
                    <td>{{ pv_data.reclaim_policy }}</td>
                </tr>
                <tr>
                    <th>Capacity:</th>
                    <td>{{ pv_data.capacity }}</td>
                </tr>
                {% if pv_data.host_path %}
                <tr>
                    <th>Local Path:</th>
                    <td>{{ pv_data.host_path }}</td>
                </tr>
                {% elif pv_data.csi_driver %}
                <tr>
                    <th>CSI Driver:</th>
                    <td>{{ pv_data.csi_driver }}</td>
                </tr>
                <tr>
                    <th>Filesystem Type:</th>
                    <td>{{ pv_data.fs_type }}</td>
                </tr>
                {% endif%}
            </table>
        </div>
        {% if pv_data.volume_attributes %}
        <div class="card-body">
            <div class="card shadow mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="podInfoTable" width="100%" cellspacing="0">
                            {% for da_key, da_value in pv_data.volume_attributes.items() %}
                            <tr>
                                <th>{{ da_key }}:</th>
                                <td>{{ da_value }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block add_head_css %}
{% include "segments/datatable_snippet.html.j2" %}
{% endblock %}