{% extends "base2.html.j2" %}

{% block topmenu %}
<ul class="header-nav d-lg-flex m-3">
    <div class="container-fluid px-4">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-0">
          <li class="breadcrumb-item"><span>Other Resources</span></li>
          <li class="breadcrumb-item active"><span>Resource Quotas</span></li>
        </ol>
      </nav>
    </div>
</ul>
<ul class="header-nav ms-auto"></ul>
<ul class="header-nav d-lg-flex">
{% include "segments/topmenu.html.j2" %}
{% endblock %}

{% block content %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Resource Quota List</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                      <th>Name</th>
                      <th>Namespace</th>
                      <th>Request</th>
                      <th>Limit</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for quota in quotas %}
                    {% if selected == quota.name %} 
                      <tr class="selected" >
                    {% else %}
                      <tr>
                    {% endif %}
                        <td>
                          <form action="/other-resources/resource-quota/data" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="hidden" name="quota_name" value="{{ quota.name }}" />
                            <a href="javascript:;" onclick="parentNode.submit();">{{ quota.name }}</a>
                          </form>
                        </td>
                        <td>{{ quota.namespace }}</td>
                        <td>
                            <span class="badge text-bg-tag text-bg-secondary">requests.cpu: {{ quota.status.used["requests.cpu"] }} / {{ quota.status.hard["requests.cpu"] }}</span><br>
                            <span class="badge text-bg-tag text-bg-secondary">requests.memory: {{ quota.status.used["requests.memory"] }} / {{ quota.status.hard["requests.memory"] }}</span><br>
                        </td>
                        <td>
                          <span class="badge text-bg-tag text-bg-secondary">limits.cpu: {{ quota.status.used["limits.cpu"] }} / {{ quota.status.hard["limits.cpu"] }}</span><br>
                          <span class="badge text-bg-tag text-bg-secondary">limits.memory: {{ quota.status.used["limits.memory"] }} / {{ quota.status.hard["limits.memory"] }}</span><br>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block add_head_css %}
{% include "segments/datatable_snipet.html.j2" %}
{% endblock %}