{% extends "base2.html.j2" %}

{% block topmenu %}
<ul class="header-nav d-lg-flex m-3">
    <div class="container-fluid px-4">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-0">
          <li class="breadcrumb-item"><span>Settings</span></li>
          <li class="breadcrumb-item active"><span>Auth Provider</span></li>
        </ol>
      </nav>
    </div>
</ul>
<ul class="header-nav ms-auto"></ul>
<ul class="header-nav d-lg-flex">
{% include "segments/topmenu.html.j2" %}
{% endblock %}

{% block content %}
<div class="card mb-4 mx-5">
  <div class="card-header py-3">
    <h5 class="m-0 font-weight-bold text-primary" id="KubernetesApiServer">Identity Provider Config</h5>
  </div>
  
  <div class="card-body">
    <form action="/settings/sso-config" method="POST">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <div class="messages"></div>
      {% if oauth_server_uri %}
      <input type="hidden" name="request_type" value="edit" />
      <input type="hidden" name="oauth_server_uri_old" value="{{ oauth_server_uri }}" />
      {% if oauth_server_ca %}
      <input type="hidden" name="oauth_server_ca" value="{{ oauth_server_ca }}" />
      {% else %}
      {% endif %}
      {% else %}
      <input type="hidden" name="request_type" value="create" />
      {% endif %}
      <div class="col-sm-4">
        <div class="form-group">
          <label for="base_uri">Redirect URI</label>
          <input type="text" class="form-control" id="base_uri" name= "base_uri" value="{{ base_uri }}">
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="oauth_server_uri">Identity Provider URL</label>
          {% if oauth_server_uri %}
          <input type="text" class="form-control" id="oauth_server_uri" name= "oauth_server_uri" value="{{ oauth_server_uri }}">
          {% else %}
          <input type="text" class="form-control" id="oauth_server_uri" name= "oauth_server_uri" placeholder="URL">
          {% endif %}
          {% if oauth_server_ca %}
          <input type="hidden" name="oauth_server_ca" value="{{ oauth_server_ca }}" />
          {% else %}
          <input type="hidden" name="oauth_server_ca" placeholder="" />
          {% endif %}
        </div>
      </div>
      <div class="col-sm-8 mt-2">
        <p>Identity Provider CA Certificate</p>
        <textarea class="form-control" id="oauth_server_ca" name= "oauth_server_ca" rows="3">{{ oauth_server_ca | j2_b64decode }}</textarea>
      </div>
      <div class="col-sm-8">
        <div class="row">
          <div class="col">
            <label for="client_id">Identity Provider Client ID</label>
            {% if client_id %}
            <input type="text" class="form-control" id="client_id" name="client_id" value="{{ client_id }}">
            {% else %}
            <input type="text" class="form-control" id="client_id" name="client_id" placeholder="Client ID">
            {% endif %}
          </div>
          <div class="col">
            <label for="client_id">Identity Provider Client Secret</label>
            {% if client_secret %}
            <input type="text" class="form-control" id="client_secret" name="client_secret" value="{{ client_secret }}">
            {% else %}
            <input type="text" class="form-control" id="client_secret" name="client_secret" placeholder="Client Secret">
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-sm-8 mt-2">
        <p>Press enter or add a comma after each tag</p>
        <input type="text" class="form-control" value="{% for s in scope %}{{ s }}{{ ',' if not loop.last else '' }}{% endfor %}" id="example-basic" />
      </div>
      <div class="col-sm-4 mt-2">
        <div class="form-group">
          <button type="submit" class="btn btn-primary" >Add</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block add_head_css %}
    <link href="{{ url_for('static',filename='/vendor/use-bootstrap-tag@2.2.2/use-bootstrap-tag.min.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block add_tail_js %}
    <script src="{{ url_for('static',filename='/vendor/use-bootstrap-tag@2.2.2/use-bootstrap-tag.min.js') }}"></script>
    <script>
      UseBootstrapTag(document.getElementById('example-basic'))
    </script>
{% endblock %}
