     <li class="nav-item py-1">
        <div class="vr h-100 mx-2 text-body text-opacity-75"></div>
    </li>
  </ul>
  <ul class="header-nav d-lg-flex me-4">
    <div class="container-fluid d-flex justify-content-end py-2 px-2">
          <a class="card-link float-right me-3" href="{{ url_for('history.back') }}">
              <i class="material-icons">arrow_back</i>
          </a>
          <a class="card-link float-right" data-bs-toggle="collapse" href="#" onclick="reload()">
              <i class="material-icons">refresh</i> 
          </a>
    </div>
  </ul>