<li class="nav-item py-1">
        <div class="vr h-100 mx-2 text-body text-opacity-75"></div>
    </li>
  </ul>
  <ul class="header-nav d-lg-flex me-4">
    <div class="container-fluid d-flex justify-content-end py-2 px-2">
          <a class="card-link float-right me-3" href="{{ url_for('history.back') }}">
              <i class="material-icons">arrow_back</i>
          </a>
          <button class="btn btn-link card-link p-0" id="topmenu-reload-btn" type="button" title="Reload page" style="color: #6261cc;">
              <i class="material-icons">refresh</i>
          </button>
    </div>
  </ul>
  <script nonce="{{ csp_nonce }}">
    document.getElementById('topmenu-reload-btn')?.addEventListener('click', function() {
      window.location.reload();
    });
  </script>
