kubedash/__pycache__
kubedash/.vscode
kubedash/database/*
kubedash/tests
kubedash/run.sh
kubedash/kubedash.ini
kubedash/.devcontainer
kubedash/.skaffold.yaml
kubedash/.venv
kubedash/kubedash.ini.example
kubedash/.pytest_cache
kubedash/*.md
kubedash/*.sh
*.sh
!entrypoint.sh
__pycache__
*.md
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
