# flask
flask==3.0.0
Werkzeug==3.0.6
Jinja2==3.1.6
dnspython==2.6.1
pytz==2023.3.post1
# config
configparser==7.0.0

# database
psycopg2==2.9.10
SQLAlchemy==2.0.17
sqlalchemy_utils==0.41.1
flask_migrate==4.0.5
flask_sqlalchemy==3.1.1
# login
flask_login==0.6.3
flask_session==0.8.0
requests_oauthlib==2.0.0
# web security
Flask_WTF==1.2.1
flask_cors==6.0.0
flask_talisman==1.1.0
# kubernetes
kubernetes==26.1.0
pybase64==1.4.0
# API
flask_healthz==1.0.1
flask-swagger-ui==4.11.1
# graphwiz
pyvis==0.3.2
# socket
flask_socketio==5.5.1
gevent-websocket==0.10.1
eventlet==0.37.0
gunicorn==23.0.0
gunicorn-color==0.1.0

# telemetry
opentelemetry-sdk==1.28.2
opentelemetry-api==1.28.2
opentelemetry-exporter-otlp-proto-http==1.28.2
opentelemetry-semantic-conventions==0.49b2
opentelemetry-instrumentation-sqlalchemy==0.49b2
opentelemetry-instrumentation-flask==0.49b2
opentelemetry-instrumentation-logging==0.49b2
opentelemetry-instrumentation-requests==0.49b2

# monitoring
prometheus-flask-exporter==0.23.1

# security
certifi==2024.07.04
setuptools==78.1.1
pyOpenSSL==25.0.0
cryptography==44.0.1
ipython==8.27.0 # not directly required, pinned by Snyk to avoid a vulnerability
gevent==23.9.0 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3==2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
requests==2.32.4 # not directly required, pinned by Snyk to avoid a vulnerability
zipp==3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
pip==25.1.1
setuptools==78.1.1
h11>=0.16.0 # not directly required, pinned by Snyk to avoid a vulnerability
