# flask
flask==2.3.2
Werkzeug==2.3.8
Jinja2==3.1.3
dnspython==2.6.1
pytz==2023.3.post1

# database
psycopg2==2.9.7
SQLAlchemy==2.0.17
sqlalchemy_utils==0.41.1
flask_migrate==4.0.7
flask_sqlalchemy==3.0.5
# login
flask_login==0.6.2
flask_session==0.5.0
requests_oauthlib==1.3.1 
Flask_WTF==1.1.1
# web security
flask_talisman==1.1.0
# kubernetes
kubernetes==26.1.0
flask_healthz==1.0.1
pybase64==1.2.3
# graphwiz
pyvis==0.3.2
# socket
flask_socketio==5.3.4
gevent-websocket==0.10.1
eventlet==0.35.2

# telemetry
opentelemetry-sdk==1.23.0
opentelemetry-api==1.23.0
opentelemetry-exporter-otlp-proto-http==1.23.0
opentelemetry-semantic-conventions==0.44b0
opentelemetry-instrumentation-sqlalchemy==0.44b0
opentelemetry-instrumentation-flask==0.44b0

# security
gunicorn==21.2.0
certifi==2024.2.2
setuptools==67.8.0
pyOpenSSL==24.0.0
cryptography==42.0.5
ipython==8.14.0 # not directly required, pinned by Snyk to avoid a vulnerability
gevent>=23.9.0 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.31.0 # not directly required, pinned by Snyk to avoid a vulnerability
